<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ title }}</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;">

<table width="680" border="0" align="center" cellpadding="0" cellspacing="0" style="width: 680px;" >
    <tbody>
    <tr>
        <td style="padding:10px 0 0 0;"><a href="{{ store_url }}" title="{{ store_name }}"><img src="https://yumsterkids.com/catalog/view/theme/yumster/assets/build/img/mail-header.jpg" alt="{{ store_name }}" width="680" height="184" style="border: none;" /></a></td>
    </tr>
    <tr bgcolor="#f9fafa" >
        <td align="center" style="font-size:16px;padding:40px;">
            {{ text_welcome }}

            {% if not approval %}
                <p>{{ text_login }}</p>

                <p><a href="{{ login }}">{{ login }}</a></p>

                <p>{{ text_service }}</p>


            {% else %}
                <p> {{ text_approval }}</p>

                <p><a href="{{ login }}">{{ login }}</a></p>


            {% endif %}
        </td>
    </tr>
    <tr bgcolor="#f9fafa"  style="padding:10px;">
        <td align="center"><p style="text-align: center"><a href="{{ store_url }}" title="{{ store_name }}"><img src="https://yumsterkids.com/catalog/view/theme/yumster/assets/build/img/mail-footer-logo.jpg" alt="{{ store_name }}" style=" border: none;" /></a></p>
            <p style="text-align: center; font-size:14px;font-weight:bold;">Thanks<br>Yumsterkids Admin</p>
            <p style="text-align: center"><a href="https://twitter.com/"><img src="https://yumsterkids.com/catalog/view/theme/yumster/assets/build/img/mail-footer-twitter.png" width="24" height="24" style="border: none; padding:10px 3px" /></a><a href="https://www.instagram.com/yumsterkids/"><img src="https://yumsterkids.com/catalog/view/theme/yumster/assets/build/img/mail-footer-instagram.png" width="24" height="24"  style="border: none; padding:10px 3px" /></a><a href="https://www.facebook.com/pg/yumsterkids/shop/"><img src="https://yumsterkids.com/catalog/view/theme/yumster/assets/build/img/mail-footer-facebook.png" width="24" height="24" style="border: none; padding:10px 3px" /></a><a href="https://plus.google.com/"><img src="https://yumsterkids.com/catalog/view/theme/yumster/assets/build/img/mail-footer-google-plus.png" width="24" height="24"  style="border: none; padding:10px 3px"/></a></p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>