<div class="top-categories">
    <div class="max-width">
        <div class="title">TOP categories</div>
        {% set background = ['#ffe2d8', '#d4e3fc', '#d4fce1','#ededed'] %}
        <ul>
            {% for banner in banners %}
            <li>
                <a href="{{ banner.link }}" style="background-color: {{ background[loop.index0] }}">
                    <div class="img"><img src="{{ banner.image }}"/></div>
                    {{ banner.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>