{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-tranzila" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-tranzila" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-login">{{ entry_supplier }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_tranzila_supplier" value="{{ payment_tranzila_supplier }}" placeholder="{{ entry_supplier }}" id="input-login" class="form-control" />
            </div>
          </div>
		  <div class="form-group">
                <label class="col-sm-2 control-label" for="input-logo">{{ entry_logo }}</label>
                <div class="col-sm-10"><a href="" id="thumb-logo" data-toggle="image" class="img-thumbnail"><img src="{{ logo }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                  <input type="hidden" name="payment_tranzila_logo" value="{{ payment_tranzila_logo }}" id="input-logo" />
                </div>
            </div>
			<div class="form-group required">
				<label class="col-sm-2 control-label" >{{ entry_height }}</label>
				<div class="col-sm-10">
				  <input type="text" name="payment_tranzila_height" value="{{ payment_tranzila_height }}" placeholder="{{ entry_height }}" id="input-total" class="form-control" />
				   {% if error_height %}
					<div class="text-danger">{{ error_height }}</div>
				 {% endif %}
				</div>
			</div>
			
			<div class="form-group required">
				<label class="col-sm-2 control-label" >{{ entry_width }}</label>
				<div class="col-sm-10">
				  <input type="text" name="payment_tranzila_width" value="{{ payment_tranzila_width }}" placeholder="{{ entry_width }}" id="input-total" class="form-control" />
				   {% if error_width %}
					<div class="text-danger">{{ error_width }}</div>
				  {% endif %}	
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-2 control-label" >{{ entry_title }}</label>
				<div class="col-sm-10">
				  <input type="text" name="payment_tranzila_title" value="{{ payment_tranzila_title }}" placeholder="{{ entry_title }}" id="input-total" class="form-control" />
				</div>
			</div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip" title="{{ help_total }}">{{ entry_total }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_tranzila_total" value="{{ payment_tranzila_total }}" placeholder="{{ entry_total }}" id="input-total" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status">{{ entry_cumorder_status }}</label>
            <div class="col-sm-10">
              <select name="payment_tranzila_cumorder_status_id" id="input-order-status" class="form-control">
               {% for order_status in order_statuses %}
                {% if order_status.order_status_id == payment_tranzila_cumorder_status_id %}
                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                {% else %}
                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status">{{ entry_decorder_status }}</label>
            <div class="col-sm-10">
              <select name="payment_tranzila_decorder_status_id" id="input-order-status" class="form-control">
                {% for order_status in order_statuses %}
                {% if order_status.order_status_id == payment_tranzila_decorder_status_id %}
                <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                        {% else %}
                        <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                        {% endif %}
                        {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
            <div class="col-sm-10">
              <select name="payment_tranzila_geo_zone_id" id="input-geo-zone" class="form-control">
                <option value="0">{{ text_all_zones }}</option>
                {% for geo_zone in geo_zones %}
                {% if geo_zone.geo_zone_id == payment_tranzila_geo_zone_id %}
                <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                        {% else %}
                        <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                        {% endif %}
                        {% endfor %}
              </select>
            </div>
          </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label " for="input-sort-order">{{ entry_callbackurl }}</label>
            <label class="col-sm-10 control-label" for="input-sort-order" style="text-align:left; color:green;">{{ callbackurl }}</label>
          </div> 
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_faildedurl }}</label>
			<label class="col-sm-10 control-label" for="input-sort-order" style="text-align:left; color:green;">{{ faildedurl }}</label>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="payment_tranzila_status" id="input-status" class="form-control">
                {% if payment_tranzila_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                        <option value="0">{{ text_disabled }}</option>
                        {% else %}
                        <option value="1">{{ text_enabled }}</option>
                        <option value="0" selected="selected">{{ text_disabled }}</option>
                        {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_tranzila_sort_order" value="{{ payment_tranzila_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}