<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{ title }}</title>
<style type="text/css">
body {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
}
body, td, th, input, textarea, select, a {
	font-size: 12px;
}
p {
	margin-top: 0px;
	margin-bottom: 20px;
}
a, a:visited, a b {
	color: #378DC1;
	text-decoration: underline;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
a img {
	border: none;
}
#container {
	width: 680px;
}
</style>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;">
<table width="680" border="0" align="center" cellpadding="0" cellspacing="0" style="width: 680px;" >
    <tbody>
    <tr>
        <td colspan="2" style="padding:10px 0 0 0;"><a href="{{ store_url }}" title="{{ store_name }}"><img src="https://yumsterkids.com/catalog/view/theme/yumster/assets/build/img/mail-header.jpg" alt="{{ store_name }}" width="680" height="184" style="border: none;" /></a></td>
    </tr>
    <tr bgcolor="#f9fafa" >
	{% if image %}
        <td align="right" style="font-size:16px;padding:0"> 
			<div style="float: right; margin-left: 20px;"><a href="{{ store_url }}" title="{{ store_name }}"><img src="{{ image }}" alt="{{ store_name }}" /></a></div>
		</td>
		<td align="center" style="font-size:16px;padding:40px;">
	{% else %}  
		<td align="center" colspan="2" style="font-size:16px;padding:40px;">
	{% endif %}
		  <div{% if lang_id=="he" %} style="direction: rtl; text-align: right"{% endif %}>
			<p>{{ text_greeting }}</p>
			<p>{{ text_from }}</p>

			<p>{{ text_message }}</p>
			<p>{{ message }}</p>

			<p>{{ text_redeem }}</p>
			<p><a href="{{ store_url }}" title="{{ store_name }}">{{ store_url }}</a></p>
			<p>{{ text_footer }}</p>
		  </div>
		</td>
	</tr>
    <tr bgcolor="#f9fafa"  style="padding:10px;">
        <td align="center" colspan="2"><p style="text-align: center"><a href="{{ store_url }}" title="{{ store_name }}"><img src="https://yumsterkids.com/catalog/view/theme/yumster/assets/build/img/mail-footer-logo.jpg" alt="{{ store_name }}" style=" border: none;" /></a></p>
            <p style="text-align: center; font-size:14px;font-weight:bold;">Thanks<br>Yumsterkids Admin</p>
            <p style="text-align: center"><a href="https://twitter.com/"><img src="https://yumsterkids.com/catalog/view/theme/yumster/assets/build/img/mail-footer-twitter.png" width="24" height="24" style="border: none; padding:10px 3px" /></a><a href="https://www.instagram.com/yumsterkids/"><img src="https://yumsterkids.com/catalog/view/theme/yumster/assets/build/img/mail-footer-instagram.png" width="24" height="24"  style="border: none; padding:10px 3px" /></a><a href="https://www.facebook.com/pg/yumsterkids/shop/"><img src="https://yumsterkids.com/catalog/view/theme/yumster/assets/build/img/mail-footer-facebook.png" width="24" height="24" style="border: none; padding:10px 3px" /></a><a href="https://plus.google.com/"><img src="https://yumsterkids.com/catalog/view/theme/yumster/assets/build/img/mail-footer-google-plus.png" width="24" height="24"  style="border: none; padding:10px 3px"/></a></p>
        </td>
    </tr>
    </tbody>
 </table>
</body>
</html>
