{{ header }}
<div class="page-name"><h1>{{breadcrumbs|last.text}}</h1></div>
<div class="inner-container">
    <div class="max-width">
        {% if attention %}
            <div class="voucher-in-cart error"><img src="catalog/view/theme/yumster/assets/build/img/yes.png"> {{ attention }}  </div>
        {% endif %}
        {% if success %}
            <div class="voucher-in-cart"><img src="catalog/view/theme/yumster/assets/build/img/yes.png"> {{ success }} </div>
        {% endif %}
        {% if error_warning %}
            <div class="voucher-in-cart error"> {{ error_warning }}   </div>
        {% endif %}
        {% if products or vouchers %}
            <form class="cart-wrapper" action="{{ action }}" method="post" enctype="multipart/form-data">
                <div class="col-1">
                    {% for product in products %}
                        <div class="product-item">
                            <a  title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');" class="to-favorites"></a>
                            <div class="remove" title="{{ button_remove }}" onclick="cart.remove('{{ product.cart_id }}');"></div>
                                {% if product.thumb %} <a href="{{ product.href }}" class="img"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a> {% endif %}
                            <div class="product-info">
                                <a href="{{ product.href }}" class="product-name">{{ product.name }}{% if not product.stock %} <span class="text-danger">***</span> {% endif %}</a>
                                <div class="product-price" data-initial-price="{{ product.price }}">
                                    {{ product.total }}
                                   </div>
                                <div class="product-options">
                                    {% if product.option %}
                                        {% for option in product.option %}
                                         <div class="product-options-row">
                                            <small>{{ option.name }}: {{ option.value }}</small>
                                         </div>
                                        {% endfor %}
                                    {% endif %}

                                    <div class="product-options-row cart-quantity">
                                        <div class="quantity">
                                            <div class="minus">-</div>
                                            <input type="text"  name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" maxlength="2" class="decimal input-quantity"/>
                                            <div class="plus">+</div>
                                        </div>
                                    </div>
                                    <button type="submit" data-toggle="tooltip" title="{{ button_update }}" class="update_button"></button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% for voucher in vouchers %}
                        <div class="product-item">
                            <div class="remove" title="{{ button_remove }}"  onclick="voucher.remove('{{ voucher.key }}');"></div>
                            <div class="product-info">
                                <a class="product-name">{{ voucher.description }}</a>
                                <div class="product-price">{{ voucher.amount }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-2">
                    <div class="cart-total">
                        <p class="total"> <strong>{{ column_total }}</strong><strong>{{ cart_total_value }}</strong></p>
                        <p><span>{{ cart_subtotal_title }}</span><span>{{ cart_subtotal_value }}</span></p>
                        {%if cart_bogo_value %}
                            <p><span>{{ cart_bogo_title }}</span><span>{{cart_bogo_value }}</span></p>
                        {% endif %}
                        {%if product_saving_total_accumulative %}
                            <p><span>{{ product_saving_total_accumulative_title }}</span><span>{{product_saving_total_accumulative }}</span></p>
                        {% endif %}
                        {%if cart_subtotal_coupon_value %}
                            <p><span>{{ cart_subtotal_coupon_title }}</span><span>{{cart_subtotal_coupon_value }}</span></p>
                        {% endif %}
                        <a href="{{ checkout }}" class="btn">{{ button_checkout }}</a>
                    </div>
                <a href="{{ continue }}" class="btn">{{ button_shopping }}</a>
            </div>
            </form>
            {% if modules %}
                <h2>{{ text_next }}</h2>
                <p>{{ text_next_choice }}</p>
                <div class="panel-group" id="accordion">
                    {% for module in modules %}
                        {{ module }}
                    {% endfor %}
                </div>
            {% endif %}
        {% else %}
            <div class="cart-empty">
                <img src="catalog/view/theme/yumster/assets/build/img/thank.png"/>
                <h2>{{ text_error }}</h2>
                <a href="{{ continue }}" class="btn">{{ start_shopping }}</a>
            </div>
        {% endif %}
         </div>
</div>
{{ footer }}
{#{ header }}
<div id="checkout-cart" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if attention %}
  <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ attention }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}
        {% if weight %}
        &nbsp;({{ weight }})
        {% endif %} </h1>
      <form action="{{ action }}" method="post" enctype="multipart/form-data">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <td class="text-center">{{ column_image }}</td>
                <td class="text-left">{{ column_name }}</td>
                <td class="text-left">{{ column_model }}</td>
                <td class="text-left">{{ column_quantity }}</td>
                <td class="text-right">{{ column_price }}</td>
                <td class="text-right">{{ column_total }}</td>
              </tr>
            </thead>
            <tbody>
            
            {% for product in products %}
            <tr>
              <td class="text-center">{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a> {% endif %}</td>
              <td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a> {% if not product.stock %} <span class="text-danger">***</span> {% endif %}
                {% if product.option %}
                {% for option in product.option %} <br />
                <small>{{ option.name }}: {{ option.value }}</small> {% endfor %}
                {% endif %}
                {% if product.reward %} <br />
                <small>{{ product.reward }}</small> {% endif %}
                {% if product.recurring %} <br />
                <span class="label label-info">{{ text_recurring_item }}</span> <small>{{ product.recurring }}</small> {% endif %}</td>
              <td class="text-left">{{ product.model }}</td>
              <td class="text-left"><div class="input-group btn-block" style="max-width: 200px;">
                  <input type="text" name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" size="1" class="form-control" />
                  <span class="input-group-btn">
                  <button type="submit" data-toggle="tooltip" title="{{ button_update }}" class="btn btn-primary"><i class="fa fa-refresh"></i></button>
                  <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="cart.remove('{{ product.cart_id }}');"><i class="fa fa-times-circle"></i></button>
                  </span></div></td>
              <td class="text-right">{{ product.price }}</td>
              <td class="text-right">{{ product.total }}</td>
            </tr>
            {% endfor %}
            {% for voucher in vouchers %}
            <tr>
              <td></td>
              <td class="text-left">{{ voucher.description }}</td>
              <td class="text-left"></td>
              <td class="text-left"><div class="input-group btn-block" style="max-width: 200px;">
                  <input type="text" name="" value="1" size="1" disabled="disabled" class="form-control" />
                  <span class="input-group-btn">
                  <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="voucher.remove('{{ voucher.key }}');"><i class="fa fa-times-circle"></i></button>
                  </span></div></td>
              <td class="text-right">{{ voucher.amount }}</td>
              <td class="text-right">{{ voucher.amount }}</td>
            </tr>
            {% endfor %}
              </tbody>
            
          </table>
        </div>
      </form>
      {% if modules %}
      <h2>{{ text_next }}</h2>
      <p>{{ text_next_choice }}</p>
      <div class="panel-group" id="accordion"> {% for module in modules %}
        {{ module }}
        {% endfor %} </div>
      {% endif %} <br />
      <div class="row">
        <div class="col-sm-4 col-sm-offset-8">
          <table class="table table-bordered">
            {% for total in totals %}
            <tr>
              <td class="text-right"><strong>{{ total.title }}:</strong></td>
              <td class="text-right">{{ total.text }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      <div class="buttons clearfix">
        <div class="pull-left"><a href="{{ continue }}" class="btn btn-default">{{ button_shopping }}</a></div>
        <div class="pull-right"><a href="{{ checkout }}" class="btn btn-primary">{{ button_checkout }}</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }#}