
  <div class="title">{{ your_items }} <a href="index.php?route=checkout/cart">{{button_edit}}</a></div>
  <div class="order-items">
    {% for product in products %}
    <div class="order-item">
      {% if product.thumb %} <a href="{{ product.href }}" class="img"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}"/></a> {% endif %}
      <div class="info">
        <div class="product-price"><strong>{{ product.price }}</strong>x{{ product.quantity }}</div>
        <div class="product-name">{{ product.name }}</div>
        <div class="product-options">
          {% for option in product.option %} <br />
            &nbsp;<div class="option"> {{ option.name }}: {{ option.value }}</div>
          {% endfor %}
        </div>
      </div>


    </div>
    {% endfor %}
    {% for voucher in vouchers %}
    <div class="order-item">
      <div class="product-name">{{ voucher.description }}</div>
      <div class="product-price">1</div>
      <div class="product-price"><strong>{{ voucher.amount }}</div>
     </div>
    {% endfor %}
      </div>

  <div class="total">
    
    {% for total in totals %}
    {% if loop.last %}
      {%if product_saving_total_accumulative %}
        <p><span>{{ product_saving_total_accumulative_title }}</span><span>{{product_saving_total_accumulative }}</span></p>
      {% endif %}
      <p class="final"><strong>{{ total.title }}</strong><strong>{{ total.text }}</strong>  </p>
    {% else %}
      <p><span>{{ total.title }}</span><span>{{ total.text }}</span>  </p>
    {% endif %}
    {% endfor %}

  </div>
    


