<div class="checkout-block-inner">
    <div class="social">
        <div class="dsl-wrap">
            <p id="d_social_login">
                <a href="index.php?route=extension/module/d_social_login/login&amp;provider=Facebook" class="dsl-button dsl_facebook_button icons fb" style="font-size: 16px;cursor: pointer; margin-bottom: 12px;color:#000;font-weight:700;">
                    Login with Facebook
                </a>
            </p>
        </div>
    </div>
    <h2 id="register_now">{{ text_new_customer }}</h2>
    <div class="collapse hidden">
      <div class="field hidden">
      <div class="radio">
         {% if account == 'register' %}
          <input type="radio" name="account" value="register" checked="checked" id="register"/>
          {% else %}
          <input type="radio" name="account" value="register" />
          {% endif %}
        <label for="register">{{ text_register }}</label>
      </div></div>
      {% if checkout_guest %}
      <div class="radio">
        <label> {% if account == 'guest' %}
          <input type="radio" name="account" value="guest" checked="checked" />
          {% else %}
          <input type="radio" name="account" value="guest" />
          {% endif %}
          {{ text_guest }}</label>
      </div>
      {% endif %}
      <p>{{ text_register_account }}</p>
      <input type="button" value="{{ button_continue }}" id="button-account" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
    </div>


    <h2 data-toggle="collapse" data-target="#returning_customer">{{ text_returning_customer }}</h2>
    <div id="returning_customer" class="collapse">
      <p>{{ text_i_am_returning_customer }}</p>
      <div class="form-group field">
        <label class="control-label" for="input-email">{{ entry_email }}</label>
        <input type="text" name="email" value="" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
      </div>
      <div class="form-group field">
        <label class="control-label" for="input-password">{{ entry_password }}</label>
        <input type="password" name="password" value="" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
        <a href="{{ forgotten }}">{{ text_forgotten }}</a></div>
      <input type="button" value="{{ button_login }}" id="button-login" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
    </div>

</div>
<script type="text/javascript"><!--
  $('#register_now').on('click', function() {
    $('#button-account').trigger('click');
  });
  //--></script>

