{% if error_warning %}
<div class="alert alert-warning alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
{% endif %}
{% if shipping_methods %}
<p>{{ text_shipping_method }}</p><br>
{% for shipping_method in shipping_methods %}
{% if not shipping_method.error %}
{% for quote in shipping_method.quote %}
<div class="field"><div class="radio">
  {% if quote.code == code or not code %}
    {% set code = quote.code %}
    <input type="radio" name="shipping_method" value="{{ quote.code }}" checked="checked" id="{{ quote.code }}"/>
    <label class="chosen" for="{{ quote.code }}">{{ quote.title }} - {{ quote.text }}</label>
  {% else %}
    <input type="radio" name="shipping_method" value="{{ quote.code }}" id="{{ quote.code }}"/>
    <label for="{{ quote.code }}">{{ quote.title }} - {{ quote.text }}</label>
  {% endif %}
</div></div>
{% endfor %}
{% else %}
<div class="alert alert-danger alert-dismissible">{{ shipping_method.error }}</div>
{% endif %}
{% endfor %}
{% endif %}
<p><strong>{{ text_comments }}</strong></p>
<p>
  <textarea name="comment" rows="8" class="form-control">{{ comment }}</textarea>
</p>
<div class="buttons">
  <div class="pull-right">
    <input type="button" value="{{ button_continue }}" id="button-shipping-method" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
  </div>
</div>
<script type="text/javascript"><!--
jQuery("#collapse-shipping-method input[type='radio']").change(function() {
  jQuery("#collapse-shipping-method .radio label").removeClass("chosen");
  if ($(this).is(':checked')) {
    $(this).parent().find('label').addClass("chosen");
  }
});
//--></script>