{{ header }}

  <div class="inner-container">
    <div class="max-width">


    <div class="breadcrumbs">
      <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
        {% set BreadcrumbPosition = 1 %}
        {% for breadcrumb in breadcrumbs %}
          <li itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
            {% if loop.last %}
              <link href="{{ breadcrumb.href }}" itemprop="item">
              <span itemprop="name">{{ breadcrumb.text }}</span>
              <meta itemprop="position" content="{{ BreadcrumbPosition }}">
            {% else %}
              <a href="{{ breadcrumb.href }}" itemprop="item"><span itemprop="name">{{ breadcrumb.text }}</span></a>
              <meta itemprop="position" content="{{ BreadcrumbPosition }}">
            {% endif %}
          </li>
          {% set BreadcrumbPosition = BreadcrumbPosition + 1 %}
        {% endfor %}
      </ol>
    </div><br>

      <div class="thank-wrapper">
        <img src="catalog/view/theme/yumster/assets/build/img/thank.png"/>
        <h2>{{ heading_title }}</h2>
        <p> {{ text_message }}</p>
        <a href="{{ continue }}" class="continue">{{ button_continue }}</a>
      </div>

      </div>
    </div>
  </div>{#end of header container #}
{{ footer }}