{{ header }}
<div class="inner-container">
  <div class="max-width">
    {{ content_top }}
    <h1 class="collection-title">{{ heading_title }}</h1>
    {% if description %}   {{ description }}    {% endif %}
  {% if categories %}
    <div class="catalog-wrapper">
      {% for category in categories %}
        <div class="product-item">
          <a href="{{ category.href }}" class="img">
            <img src="{{ category.thumb }}" alt="{{ category.name }}" title="{{ category.name }}">
          </a>
          <a href="{{ category.href }}" class="product-name">{{ category.only_name }}</a>
        </div>
      {% endfor %}
      </div>
  {% endif %}

  {{ content_bottom }}
  </div>
</div>
{{ footer }}

