{{ header }}
<div class="popup" id="size-chart">
    <div class="popup-outer">
        <div class="popup-inner">
            <div class="popup-body">
                <div class="close"></div>
                <div class="quick-wrapper">{{ size_chart_html }} </div>
            </div>
        </div>
    </div>
</div>
<div class="inner-container">
    <div class="max-width">
        <div class="breadcrumbs">
            <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
                {% set BreadcrumbPosition = 1 %}
                {% for breadcrumb in breadcrumbs %}
                    <li itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                        {% if loop.last %}
                            <link href="{{ breadcrumb.href }}" itemprop="item">
                            <span itemprop="name">{{ breadcrumb.text }}</span>
                            <meta itemprop="position" content="{{ BreadcrumbPosition }}">
                        {% else %}
                            <a href="{{ breadcrumb.href }}" itemprop="item"><span itemprop="name">{{ breadcrumb.text }}</span></a>
                            <meta itemprop="position" content="{{ BreadcrumbPosition }}">
                        {% endif %}
                    </li>
                    {% set BreadcrumbPosition = BreadcrumbPosition + 1 %}
                {% endfor %}
            </ol>
        </div>
        {% set videolink= '' %}
        <div class="product-wrapper">
            <div class="product-slider">
                <div class="thumbs">
                   
                    <div class="swiper-container" dir="ltr">
                        <div class="swiper-wrapper">
                            {% if thumb %}
                                <div class="swiper-slide"><img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></div>
                            {% endif %}
                            {% if images %}
                                {% for image in images %}
                                {% if  image.thumb == '' %}
                                    {% set videolink = image.popup  %}
                                {% else %}
                                    <div class="swiper-slide"><img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></div>
                                {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <ul>
                        {#<li><a href="#" class="around"><p>360<sup>o</sup></p></a></li>#}
                        {% if videolink != '' %}<li><a href="#" class="video"><img src="catalog/view/theme/yumster/assets/build/img/icon-video.png"><span>video</span></a></li>{% endif %}
                        <li class="share_block"><a class="share" href="#"><img src="catalog/view/theme/yumster/assets/build/img/icon-share.png"><span>{{ text_share }}</span></a></li>
                    </ul>
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style" data-url="{{ share }}">
                        <a class="addthis_button_facebook" fb:like:layout="button_count"></a>
                        <a class="addthis_button_twitter"></a>
                        <a class="addthis_button_pinterest_share"></a>
                        <a class="addthis_button_compact"></a>
                    </div>
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script>
                    <!-- AddThis Button END -->
                </div>
                <div class="full">
                    <a title="{{ button_wishlist }}" onclick="wishlist.add('{{ product_id }}');" class="to-favorites"></a>
                    <div class="swiper-container" dir="ltr">
                        <div class="swiper-wrapper">
                            {% if thumb %}
                                <div class="swiper-slide"><div class="swiper-zoom-container"><img src="{{ popup }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></div></div>
                            {% endif %}
                            {% if images %}
                                {% for image in images %}
                                    {% if  image.thumb == '' %}
                                    {% else %}
                                    <div class="swiper-slide"><div class="swiper-zoom-container"><img src="{{ image.popup }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></div></div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                        <div class="swiper-button-next"><img src="catalog/view/theme/yumster/assets/build/img/arrow-right-black-big.png"></div>
                        <div class="swiper-button-prev"><img src="catalog/view/theme/yumster/assets/build/img/arrow-left-black-big.png"></div>
                    <div class="around-wrapper"><div class="close"></div>360</div>
                    {% if videolink != '' %}
                        <div class="video-wrapper">
                            <div class="close"></div>
                            <iframe width="560" height="315" src="{{ videolink }}" frameborder="0" allowfullscreen></iframe>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="product-info">
                <div class="product-name">{{ heading_title }}</div>
                <div class="product-sku">{{ text_sku }}{{ sku }}</div>
                {% if price %}
                    <div class="product-price-main" data-initial-price="{% if not special %}{{ price }}{% else %}{{ special }}{% endif %}">{% if not special %}{{ price }}{% else %}
                            <ul style="list-style-type: none"> <li class="old-price"><span>{{ price }}</span></li>
                                <li>
                                    <h2>{{ special }}</h2>
                                </li></ul>
                        {% endif %}
                        {#% if tax %}
                            <div>{{ text_tax }} {{ tax }}</div>
                        {% endif %#}
                        {% if points %}
                            <div>{{ text_points }} {{ points }}</div>
                        {% endif %}
                        {#% if discounts %}
                            <div>
                                <hr>
                            </div>
                            {% for discount in discounts %}
                                <div>{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</div>
                            {% endfor %}
                        {% endif %#}
                    </div>
                {% endif %}
                <div class="product-options" id="product">
                {% if options %}

                    {% for option in options %}
                        {% if option.type == 'select' %}
                            <div class="product-options-row{% if option.required %} required {% endif %} product-options-main {% if option.option_id  == 11 %}size-option{% endif %}">
                                <div class="dropdown dropdown-select">
                                    <div class="current">{{ option.name }}</div>
                                    <ul>
                                        {% for option_value in option.product_option_value %}
                                            <li data-value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                                                {% if option_value.price %}
                                                    ({{ option_value.price_prefix }}{{ option_value.price }})
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}">
                                        <option value="">{{ text_select }}</option>
                                        {% for option_value in option.product_option_value %}
                                            <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                                                {% if option_value.price %}
                                                    ({{ option_value.price_prefix }}{{ option_value.price }})
                                                {% endif %} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                {% if option.option_id  == 11 %}<a href="#size-chart" class="info"><img src="catalog/view/theme/yumster/assets/build/img/icon-info-big.png"></a>{% endif %}
                            </div>
                        {% endif %}


                        {% if option.type == 'radio' %}
                            <div class="product-options-row  product-options-main">
                            <div class="dropdown dropdown-select with-img{% if option.required %} required {% endif %}">
                                {#<label class="control-label">{{ option.name }} </label>#}
                                <div class="current"><img src="catalog/view/theme/yumster/assets/sources/img/icon-option-{{ option.option_id }}.png">{{ option.name }}</div>
                                <ul>
                                    {% for option_value in option.product_option_value %}
                                        <li data-value="{{ option_value.product_option_value_id }}">
                                            {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}"  /> {% endif %}
                                            {{ option_value.name }}
                                            {% if option_value.price %}({{ option_value.price_prefix }}{{ option_value.price }}){% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}">
                                    <option value="">{{ text_select }}</option>
                                    {% for option_value in option.product_option_value %}
                                        <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                                            {% if option_value.price %}
                                                ({{ option_value.price_prefix }}{{ option_value.price }})
                                            {% endif %} </option>
                                    {% endfor %}
                                </select>
                            </div>
                            </div>
                        {% endif %}


                    {% endfor %}

                {% endif %}



                    <div class="product-options-row product-options-main">
                        {# quantity #}
                        <div class="quantity">
                            <div class="minus">-</div>
                            <input type="text" value="{{ minimum }}" maxlength="2" name="quantity" class="input-quantity"/>
                            <input type="hidden" name="product_id" value="{{ product_id }}" />
                            <div class="plus">+</div>
                        </div>
                        {# price #}
                        <div class="product-price-wrapper">
                            <a id="button-cart" data-loading-text="{{ text_loading }}" class="add-to-cart"><span>{{ button_cart }}</span><span>{{ text_thank_you }}</span></a>
                        </div>
                        <div class="product-description-wrapper ">
                            <div class="product-description-title">{{ tab_description }}</div>
                            <div class="product-description-text">{{ description}}</div>
                        </div>
                        <div class="product-delivery-wrapper">
                            <div class="product-delivery-title">{{ text_delivery_title }}</div>
                            <div class="product-delivery-text">{{ text_delivery_text}}</div>
                        </div>



                    </div>
                    <div class="product-options-row">
                        {# related product #}
                        {% if products %}
                        <div class="combined-with-wrapper">
                            <div class="title">{{ text_related }} </div>
                            <div class="swiper-container_no_slider">
                                {% for product in products %}
                                    <div class="product-item" id="combined-item-{{ product.product_id }}">
                                        <a href="{{ product.href }}" class="product-name">{{ product.name }}</a>

                                        <div class="product-intro">
                                            <a href="{{ product.href }}" class="img">
                                                <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" />
                                                <span title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');return false;" class="to-favorites"></span>
                                                <div class="img-action">
                                                    <span data-popup="quick-view" class="quick-view-category" data-prodid="{{ product.product_id }}">{{ quick_view }}</span>
                                                </div>
                                            </a>
                                            <div class="product-options product-options-combined">
                                                {% if product.related_options %}

                                                        {% for related_option in product.related_options %}
                                                            {% if related_option.type == 'select' %}
                                                                <div class="product-options-row{% if related_option.required %} required {% endif %}">
                                                                    <div class="dropdown dropdown-select">
                                                                        <div class="current">{{ related_option.name }}</div>
                                                                        <ul>
                                                                            {% for option_value in related_option.product_option_value %}
                                                                                <li data-value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                                                                                    {% if option_value.price %}
                                                                                        ({{ option_value.price_prefix }}{{ option_value.price }})
                                                                                    {% endif %}
                                                                                </li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                        <select name="option[{{ related_option.product_option_id }}]" id="input-option{{ related_option.product_option_id }}">
                                                                            <option value="">{{ text_select }}</option>
                                                                            {% for option_value in related_option.product_option_value %}
                                                                                <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                                                                                    {% if option_value.price %}
                                                                                        ({{ option_value.price_prefix }}{{ option_value.price }})
                                                                                    {% endif %} </option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                    {% if related_option.option_id  == 11 %}
                                                                        <a href="#size-chart" class="info"><img src="catalog/view/theme/yumster/assets/build/img/icon-info-big.png"></a>                                                                    {% endif %}
                                                                </div>
                                                            {% endif %}


                                                            {% if related_option.type == 'radio' %}
                                                                <div class="product-options-row">
                                                                    <div class="dropdown dropdown-select with-img{% if related_option.required %} required {% endif %}">
                                                                        <div class="current"><img src="catalog/view/theme/yumster/assets/sources/img/icon-option-{{ related_option.option_id }}.png">{{ related_option.name }}</div>
                                                                        <ul>
                                                                            {% for option_value in related_option.product_option_value %}
                                                                                <li data-value="{{ option_value.product_option_value_id }}">
                                                                                    {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}"  /> {% endif %}
                                                                                    {{ option_value.name }}
                                                                                    {% if option_value.price %}({{ option_value.price_prefix }}{{ option_value.price }}){% endif %}
                                                                                </li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                        <select name="option[{{ related_option.product_option_id }}]" id="input-option{{ related_option.product_option_id }}">
                                                                            <option value="">{{ text_select }}</option>
                                                                            {% for option_value in related_option.product_option_value %}
                                                                                <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                                                                                    {% if option_value.price %}
                                                                                        ({{ option_value.price_prefix }}{{ option_value.price }})
                                                                                    {% endif %} </option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            {% endif %}


                                                        {% endfor %}

                                                {% endif %}

                                                <div class="product-options-row">
                                                    <div class="product-quantity">
                                                        {# quantity #}
                                                        <div class="quantity">
                                                            <div class="minus">-</div>
                                                            <input type="text" value="{{ minimum }}" maxlength="2" name="quantity" class="input-quantity"/>
                                                            <input type="hidden" name="product_id" value="{{ product.product_id }}" />
                                                            <div class="plus">+</div>
                                                        </div>
                                                    </div>

                                                    <div class="product-price{% if product.special %} sale{% endif %}" data-initial-price="{% if not special %}{{ price }}{% else %}{{ special }}{% endif %}"><strong>
                                                            {% if product.price %}
                                                                {% if not product.special %}
                                                                    {{ product.price }}
                                                                {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
                                                            {% endif %}
                                                        </strong></div>
                                                    {#<span onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');" class="add-to-cart">+ Add to cart</span>#}
                                                    <a data-loading-text="{{ text_loading }}" class="add-to-cart"><span>+ {{ button_cart }}</span><span>{{ text_thank_you }}</span></a>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>


                </div>
             </div>


            </div>

        {{ content_bottom }}
    </div> {# end of max-width#}

    </div>
</div>
<script type="text/javascript"><!--
    $('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
        $.ajax({
            url: 'index.php?route=product/product/getRecurringDescription',
            type: 'post',
            data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
            dataType: 'json',
            beforeSend: function() {
                $('#recurring-description').html('');
            },
            success: function(json) {
                $('.alert-dismissible, .text-danger').remove();

                if (json['success']) {
                    $('#recurring-description').html(json['success']);
                }
            }
        });
    });
    //--></script>
<script type="text/javascript"><!--
    $('#button-cart').on('click', function() {
        $.ajax({
            url: 'index.php?route=checkout/cart/add',
            type: 'post',
            data: $('#product .product-options-main input[type=\'text\'], #product .product-options-main input[type=\'hidden\'], #product .product-options-main input[type=\'radio\']:checked, #product .product-options-main input[type=\'checkbox\']:checked, #product .product-options-main select, #product .product-options-main textarea'),
            dataType: 'json',
            beforeSend: function() {
                //$('#button-cart').button('loading');
            },
            complete: function() {
                //$('#button-cart').button('reset');
            },
            success: function(json) {
                $('.alert-dismissible, .text-danger').remove();
                $('.form-group').removeClass('has-error');
                $('.added-to-cart').empty();


                if (json['error']) {
                    if (json['error']['option']) {
                        for (i in json['error']['option']) {
                            var element = $('#input-option' + i.replace('_', '-'));

                            if (element.parent().hasClass('input-group')) {
                                element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                            } else {
                                element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                            }
                            alert(json['error']['option'][i]);
                        }
                    }

                    if (json['error']['recurring']) {
                        $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
                    }

                    // Highlight any found errors
                    $('.text-danger').parent().addClass('has-error');

                }

                if (json['success']) {
                    /*$('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');*/
                    $('.added-to-cart').append('<img src="catalog/view/theme/yumster/assets/build/img/yes.png">'+json['success']).show().delay(5000).fadeOut();
                    $("#button-cart").addClass('active');
                    $('#cart > span').html(json['total']);

                    $('html, body').animate({ scrollTop: 0 }, 'slow');
                    $('.cart-popup').load('index.php?route=common/cart/info .cart-popup > *');
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
    //--></script>
<script type="text/javascript"><!--
    $('.date').datetimepicker({
        language: '{{ datepicker }}',
        pickTime: false
    });

    $('.datetime').datetimepicker({
        language: '{{ datepicker }}',
        pickDate: true,
        pickTime: true
    });

    $('.time').datetimepicker({
        language: '{{ datepicker }}',
        pickDate: false
    });

    $('button[id^=\'button-upload\']').on('click', function() {
        var node = this;

        $('#form-upload').remove();

        $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

        $('#form-upload input[name=\'file\']').trigger('click');

        if (typeof timer != 'undefined') {
            clearInterval(timer);
        }

        timer = setInterval(function() {
            if ($('#form-upload input[name=\'file\']').val() != '') {
                clearInterval(timer);

                $.ajax({
                    url: 'index.php?route=tool/upload',
                    type: 'post',
                    dataType: 'json',
                    data: new FormData($('#form-upload')[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function() {
                        $(node).button('loading');
                    },
                    complete: function() {
                        $(node).button('reset');
                    },
                    success: function(json) {
                        $('.text-danger').remove();

                        if (json['error']) {
                            $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
                        }

                        if (json['success']) {
                            alert(json['success']);

                            $(node).parent().find('input').val(json['code']);
                        }
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        }, 500);
    });
    //--></script>
<script type="text/javascript"><!--
    $('#review').delegate('.pagination a', 'click', function(e) {
        e.preventDefault();

        $('#review').fadeOut('slow');

        $('#review').load(this.href);

        $('#review').fadeIn('slow');
    });

    $('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

    $('#button-review').on('click', function() {
        $.ajax({
            url: 'index.php?route=product/product/write&product_id={{ product_id }}',
            type: 'post',
            dataType: 'json',
            data: $("#form-review").serialize(),
            beforeSend: function() {
                $('#button-review').button('loading');
            },
            complete: function() {
                $('#button-review').button('reset');
            },
            success: function(json) {
                $('.alert-dismissible').remove();

                if (json['error']) {
                    $('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
                }

                if (json['success']) {
                    $('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

                    $('input[name=\'name\']').val('');
                    $('textarea[name=\'text\']').val('');
                    $('input[name=\'rating\']:checked').prop('checked', false);
                }
            }
        });
    });

    $(document).ready(function() {
        $('.thumbnails').magnificPopup({
            type:'image',
            delegate: 'a',
            gallery: {
                enabled: true
            }
        });
    });
    //--></script>

{{ footer }}

{#{{ header }}
<div id="product-product" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="row"> {% if column_left or column_right %}
        {% set class = 'col-sm-6' %}
        {% else %}
        {% set class = 'col-sm-8' %}
        {% endif %}
        <div class="{{ class }}"> {% if thumb or images %}
          <ul class="thumbnails">
            {% if thumb %}
            <li><a class="thumbnail" href="{{ popup }}" title="{{ heading_title }}"><img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a></li>
            {% endif %}
            {% if images %}
            {% for image in images %}
            <li class="image-additional"><a class="thumbnail" href="{{ image.popup }}" title="{{ heading_title }}"> <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a></li>
            {% endfor %}
            {% endif %}
          </ul>
          {% endif %}
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-description" data-toggle="tab">{{ tab_description }}</a></li>
            {% if attribute_groups %}
            <li><a href="#tab-specification" data-toggle="tab">{{ tab_attribute }}</a></li>
            {% endif %}
            {% if review_status %}
            <li><a href="#tab-review" data-toggle="tab">{{ tab_review }}</a></li>
            {% endif %}
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-description">{{ description }}</div>
            {% if attribute_groups %}
            <div class="tab-pane" id="tab-specification">
              <table class="table table-bordered">
                {% for attribute_group in attribute_groups %}
                <thead>
                  <tr>
                    <td colspan="2"><strong>{{ attribute_group.name }}</strong></td>
                  </tr>
                </thead>
                <tbody>
                {% for attribute in attribute_group.attribute %}
                <tr>
                  <td>{{ attribute.name }}</td>
                  <td>{{ attribute.text }}</td>
                </tr>
                {% endfor %}
                  </tbody>
                {% endfor %}
              </table>
            </div>
            {% endif %}
            {% if review_status %}
            <div class="tab-pane" id="tab-review">
              <form class="form-horizontal" id="form-review">
                <div id="review"></div>
                <h2>{{ text_write }}</h2>
                {% if review_guest %}
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-name">{{ entry_name }}</label>
                    <input type="text" name="name" value="{{ customer_name }}" id="input-name" class="form-control" />
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-review">{{ entry_review }}</label>
                    <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                    <div class="help-block">{{ text_note }}</div>
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label">{{ entry_rating }}</label>
                    &nbsp;&nbsp;&nbsp; {{ entry_bad }}&nbsp;
                    <input type="radio" name="rating" value="1" />
                    &nbsp;
                    <input type="radio" name="rating" value="2" />
                    &nbsp;
                    <input type="radio" name="rating" value="3" />
                    &nbsp;
                    <input type="radio" name="rating" value="4" />
                    &nbsp;
                    <input type="radio" name="rating" value="5" />
                    &nbsp;{{ entry_good }}</div>
                </div>
                {{ captcha }}
                <div class="buttons clearfix">
                  <div class="pull-right">
                    <button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_continue }}</button>
                  </div>
                </div>
                {% else %}
                {{ text_login }}
                {% endif %}
              </form>
            </div>
            {% endif %}</div>
        </div>
        {% if column_left or column_right %}
        {% set class = 'col-sm-6' %}
        {% else %}
        {% set class = 'col-sm-4' %}
        {% endif %}
        <div class="{{ class }}">
          <div class="btn-group">
            <button type="button" data-toggle="tooltip" class="btn btn-default" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product_id }}');"><i class="fa fa-heart"></i></button>
            <button type="button" data-toggle="tooltip" class="btn btn-default" title="{{ button_compare }}" onclick="compare.add('{{ product_id }}');"><i class="fa fa-exchange"></i></button>
          </div>
          <h1>{{ heading_title }}</h1>
          <ul class="list-unstyled">
            {% if manufacturer %}
            <li>{{ text_manufacturer }} <a href="{{ manufacturers }}">{{ manufacturer }}</a></li>
            {% endif %}
            <li>{{ text_model }} {{ model }}</li>
            {% if reward %}
            <li>{{ text_reward }} {{ reward }}</li>
            {% endif %}
            <li>{{ text_stock }} {{ stock }}</li>
          </ul>
          {% if price %}
          <ul class="list-unstyled">
            {% if not special %}
            <li>
              <h2>{{ price }}</h2>
            </li>
            {% else %}
            <li><span style="text-decoration: line-through;">{{ price }}</span></li>
            <li>
              <h2>{{ special }}</h2>
            </li>
            {% endif %}
            {% if tax %}
            <li>{{ text_tax }} {{ tax }}</li>
            {% endif %}
            {% if points %}
            <li>{{ text_points }} {{ points }}</li>
            {% endif %}
            {% if discounts %}
            <li>
              <hr>
            </li>
            {% for discount in discounts %}
            <li>{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</li>
            {% endfor %}
            {% endif %}
          </ul>
          {% endif %}
          <div id="product"> {% if options %}
            <hr>
            <h3>{{ text_option }}</h3>
            {% for option in options %}
            {% if option.type == 'select' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
                <option value="">{{ text_select }}</option>
                {% for option_value in option.product_option_value %}
                <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                {% if option_value.price %}
                ({{ option_value.price_prefix }}{{ option_value.price }})
                {% endif %} </option>
                {% endfor %}
              </select>
            </div>
            {% endif %}
            {% if option.type == 'radio' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label">{{ option.name }}</label>
              <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                <div class="radio">
                  <label>
                    <input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" />
                    {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}                  
                    {{ option_value.name }}
                    {% if option_value.price %}
                    ({{ option_value.price_prefix }}{{ option_value.price }})
                    {% endif %} </label>
                </div>
                {% endfor %} </div>
            </div>
            {% endif %}
            {% if option.type == 'checkbox' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label">{{ option.name }}</label>
              <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" />
                    {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
                    {{ option_value.name }}
                    {% if option_value.price %}
                    ({{ option_value.price_prefix }}{{ option_value.price }})
                    {% endif %} </label>
                </div>
                {% endfor %} </div>
            </div>
            {% endif %}
            {% if option.type == 'text' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
            </div>
            {% endif %}
            {% if option.type == 'textarea' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
            </div>
            {% endif %}
            {% if option.type == 'file' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label">{{ option.name }}</label>
              <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
              <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
            </div>
            {% endif %}
            {% if option.type == 'date' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <div class="input-group date">
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
                <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            {% endif %}
            {% if option.type == 'datetime' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <div class="input-group datetime">
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            {% endif %}
            {% if option.type == 'time' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <div class="input-group time">
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if recurrings %}
            <hr>
            <h3>{{ text_payment_recurring }}</h3>
            <div class="form-group required">
              <select name="recurring_id" class="form-control">
                <option value="">{{ text_select }}</option>
                {% for recurring in recurrings %}
                <option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
                {% endfor %}
              </select>
              <div class="help-block" id="recurring-description"></div>
            </div>
            {% endif %}
            <div class="form-group">
              <label class="control-label" for="input-quantity">{{ entry_qty }}</label>
              <input type="text" name="quantity" value="{{ minimum }}" size="2" id="input-quantity" class="form-control" />
              <input type="hidden" name="product_id" value="{{ product_id }}" />
              <br />
              <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block">{{ button_cart }}</button>
            </div>
            {% if minimum > 1 %}
            <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
            {% endif %}</div>
          {% if review_status %}
          <div class="rating">
            <p>{% for i in 1..5 %}
              {% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
              {% endfor %} <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}</a> / <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ text_write }}</a></p>
            <hr>
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style" data-url="{{ share }}"><a class="addthis_button_facebook_like" fb:like:layout="button_count"></a> <a class="addthis_button_tweet"></a> <a class="addthis_button_pinterest_pinit"></a> <a class="addthis_counter addthis_pill_style"></a></div>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script> 
            <!-- AddThis Button END --> 
          </div>
          {% endif %} </div>
      </div>
      {% if products %}
      <h3>{{ text_related }}</h3>
      <div class="row"> {% set i = 0 %}
        {% for product in products %}
        {% if column_left and column_right %}
        {% set class = 'col-xs-8 col-sm-6' %}
        {% elseif column_left or column_right %}
        {% set class = 'col-xs-6 col-md-4' %}
        {% else %}
        {% set class = 'col-xs-6 col-sm-3' %}
        {% endif %}
        <div class="{{ class }}">
          <div class="product-thumb transition">
            <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
            <div class="caption">
              <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
              <p>{{ product.description }}</p>
              {% if product.rating %}
              <div class="rating"> {% for j in 1..5 %}
                {% if product.rating < j %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> {% endif %}
                {% endfor %} </div>
              {% endif %}
              {% if product.price %}
              <p class="price"> {% if not product.special %}
                {{ product.price }}
                {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
                {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </p>
              {% endif %} </div>
            <div class="button-group">
              <button type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span> <i class="fa fa-shopping-cart"></i></button>
              <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
              <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
            </div>
          </div>
        </div>
        {% if column_left and column_right and (i + 1) % 2 == 0 %}
        <div class="clearfix visible-md visible-sm"></div>
        {% elseif column_left or column_right and (i + 1) % 3 == 0 %}
        <div class="clearfix visible-md"></div>
        {% elseif (i + 1) % 4 == 0 %}
        <div class="clearfix visible-md"></div>
        {% endif %}
        {% set i = i + 1 %}
        {% endfor %} </div>
        {% endif %}
        {% if tags %}
        <p>{{ text_tags }}
        {% for i in 0..tags|length %}
        {% if i < (tags|length - 1) %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
        {% else %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a> {% endif %}
        {% endfor %} </p>
        {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
//--></script> 
<script type="text/javascript"><!--
$('#button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {
				$('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				$('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

				$('html, body').animate({ scrollTop: 0 }, 'slow');

				$('#cart > ul').load('index.php?route=common/cart/info ul li');
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script> 
<script type="text/javascript"><!--
$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

$('#button-review').on('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id={{ product_id }}',
		type: 'post',
		dataType: 'json',
		data: $("#form-review").serialize(),
		beforeSend: function() {
			$('#button-review').button('loading');
		},
		complete: function() {
			$('#button-review').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['success']) {
				$('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

				$('input[name=\'name\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
			}
		}
	});
});

$(document).ready(function() {
	$('.thumbnails').magnificPopup({
		type:'image',
		delegate: 'a',
		gallery: {
			enabled: true
		}
	});
});
//--></script> 
{{ footer }} 
#}
