@font-face {
  font-family: 'Arial Regular';
  src: url('../fonts/ArialMT.eot');
  src: url('../fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ArialMT.woff') format('woff'),
  url('../fonts/ArialMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body.lang_he{
  * {
    font-family: 'Arial Regular'!important;
  }
  direction: rtl;
  &.show-menu{
    .sidebar{
      transform: translate3d(0,0,0);
    }
  }
  &.e404,
  &.e500,
  &.login-page{
    &:before{
      transform: rotateY(180deg);
    }
  }
  &.checkout-page{
    .logo{
      @media all and (max-width: $breakpoint2){
        margin-right: 15px;
        margin-left: 0;
      }
    }
    .inner-container{
      padding-right: 345px;
      padding-left: 0;
      @media all and (max-width: $breakpoint1){
        padding-right: 230px;
      }
      @media all and (max-width: $breakpoint2){
        padding-right: 0;
      }
    }
  }
  &.page_product .product-wrapper .product-info .product-price-wrapper .product-price{
    margin-left: 5px;
    margin-right: 69px;
  }
  .page-name {
    right: 345px;
    left: auto;
    h1 {
      margin-left: 13px;
      margin-right: 0;
    }
    @media (max-width: 1590px) {
      right: 250px;
    }
    @media (max-width: 1154px) {
      display: none;
      right: 190px;
    }
  }
  .header{
    padding-left: 0;
    padding-right: 35px;
    @media all and (max-width: $breakpoint1){
      padding-right: 30px;
    }
    @media all and (max-width: $breakpoint2){
      padding-right: 0;
    }
    .page-name{
      left: auto;
      right: 345px;
      @media all and (max-width: $breakpoint1){
        right: 250px;
      }
      @media all and (max-width: $breakpoint2){
        right: 190px;
      }
      @media all and (max-width: $breakpoint3){
        right: 130px;
      }
      h1{
        margin-right: 0;
        margin-left: 13px;
      }
    }
    .secured{
      padding-right: 23px;
      padding-left: 0;
      margin-right: 0;
      margin-left: 40px;
      @media all and (max-width: $breakpoint2){
        margin-left: 140px;
      }
      @media all and (max-width: $breakpoint3){
        margin-left: 15px;
        padding-right: 12px;
      }
      &:before{
        left: auto;
        right: 0;
      }
    }
    .order{
      left: 0;
      right: auto;
    }
  }
  .logo{
    @media all and (max-width: $breakpoint2){
      margin-left: 25px;
      margin-right: 0;
    }
  }
  .menu-toggler{
    margin-right: 0;
    margin-left: 18px;
  }
  .langs{
    margin-right: 0;
    margin-left: 45px;
    @media all and (max-width: $breakpoint1){
      margin-left: 30px;
    }
    @media all and (max-width: $breakpoint2){
      margin-left: 24px;
    }
    .current{
      padding-right: 0;
      padding-left: 27px;
      @media all and (max-width: $breakpoint2){
        padding-left: 22px;
      }
    }
    .dropdown{
      li{
        padding-left: 0;
        padding-right: 23px;
        img{
          margin-right: 0;
          margin-left: 15px;
        }
      }
    }
  }
  .header-category{
    margin-right: 0;
    margin-left: 2px;
  }
  .currency{
    margin-right: 0;
    margin-left: 85px;
    @media all and (max-width: $breakpoint1){
      margin-left: 40px;
    }
    @media all and (max-width: $breakpoint2){
      margin-left: 25px;
    }
    .current{
      padding-right: 0;
      padding-left: 27px;
      @media all and (max-width: $breakpoint2){
        padding-left: 16px;
      }
    }
    .dropdown{
      li{
        padding-left: 0;
        padding-right: 23px;
        img{
          margin-right: 0;
          margin-left: 15px;
        }
      }
    }
  }
  .user{
    margin-right: 0;
    margin-left: 20px;
    @media all and (max-width: $breakpoint1){
      margin-left: 13px;
    }
  }
  .dropdown{
    .current{
      &:after{
        left: 0;
        right: auto;
      }
    }
  }
  .dropdown-select{
    &.with-img{
      .current,
      li{
        padding-left: 0;
        padding-right: 50px;
        @media all and (max-width: $breakpoint2){
          padding-right: 15px;
        }
        img{
          left: auto;
          right: 25px;
          transform: translate3d(50%,-50%,0);
        }
      }
    }
    .current, select{
      &:after{
        right: auto;
        left: 17px;
        @media all and (max-width: $breakpoint1){
          left: 13px;
        }
        @media all and (max-width: $breakpoint3){
          left: 5px;
        }
      }
    }
    select{
      @media all and (max-width: $breakpoint2){
        left: auto;
        right: 0;
      }
    }
  }
  .cart,
  .favorites{
    span{
      margin-right: 10px;
      margin-left: 0;
      @media all and (max-width: $breakpoint1){
        margin-right: 8px;
      }
      @media all and (max-width: $breakpoint2){
        margin-right: 3px;
      }
    }
  }
  .sidebar{
    @media all and (max-width: $breakpoint2){
      transform: translate3d(100%,0,0);
      left: auto;
      right: 0;
    }
    .menu{
      li{
        &.parent{
          &>a{
            padding-left: 23px;
            padding-right: 0;
            &:after{
              left: 0;
              right: auto;
              @media all and (max-width: $breakpoint2){
                left: 22px;
                right: auto;
              }
            }
          }
        }
        &.boys,
        &.girls{
          &>a{
            &:before{
              right: -45px;
              left: auto;
              @media all and (max-width: $breakpoint2){
                right: 0;
                left: auto;
              }
            }
          }
        }
      }
      &>ul{
        padding-right: 45px;
        padding-left: 0;
        @media all and (max-width: $breakpoint2){
          padding-right: 0;
        }
        &>li{
          &.parent{
            &>a{
              @media all and (max-width: $breakpoint2){
                padding-right: 43px;
              }
            }
          }
          &>a{
            @media all and (max-width: $breakpoint2){
              padding-right: 43px;
              padding-left: 0;
            }
          }
          &>ul{
            padding-right: 25px;
            padding-left: 0;
            @media all and (max-width: $breakpoint2){
              padding-right: 73px;
            }
            &>li{
              &.parent{
                &>a:before{
                  right: -20px;
                  left: auto;
                }
              }
              &>a{
                &:after{
                  @media all and (max-width: $breakpoint2){
                    left: 0 !important;
                    right: auto !important;
                  }
                }
              }
              &>ul{
                padding-right: 5px;
                padding-left: 0;
              }
            }
          }
        }
      }
    }
    .mobile-menu{
      &>ul{
        &>li{
          &>a{
            padding-right: 43px;
            padding-left: 0;
          }
        }
      }
    }
    .additional-menu{
      padding-right: 45px;
      padding-left: 0;
      @media all and (max-width: $breakpoint2){
        padding-right: 0;
      }
      &>ul{
        &>li{
          &>a{
            padding-right: 0;
            padding-left: 27px;
            &:after{
              left: 0;
              right: auto;
            }
          }
          &>ul{
            &>li{
              &>a{
                @media all and (max-width: $breakpoint2){
                  padding-right: 43px;
                  padding-left: 0;
                }
              }
            }
          }
        }
      }
    }
    .langs, .currency{
      .current, select{
        padding-right: 45px;
        padding-left: 0;
        direction: rtl;
        &:after{
          left: 22px;
          right: auto;
        }
        img{
          margin-left: 16px;
          margin-right: 0;
        }
      }
      select{
        padding-right: 0;
      }
      select{
        left: auto;
        right: 0;
      }
    }
  }
  .index-banner{
    .banner{
      align-items: flex-end;
      @media all and (max-width: $breakpoint2){
        direction: ltr;
      }
    }
    .point-1{
      left: auto;
      right: 50%;
      margin-left: 0;
      margin-right: 470px;
      @media all and (max-width: $breakpoint1){
        margin-right: 365px;
      }
      @media all and (max-width: $breakpoint2){
        margin-right: 0;
        right: auto;
        left: 50px;
      }
      .img{
        justify-content: flex-start;
        span{
          img{
            float: none;
          }
        }
      }
    }
    .point-2{
      left: 50%;
      right: auto;
      margin-left: 385px;
      margin-right: 0;
      @media all and (max-width: $breakpoint1){
        margin-left: 190px;
      }
      .img{
        display: flex;
        justify-content: flex-end;
        left: 105px;
        img{
          float: left;
        }
      }
    }
    .banner-footer{
      .col-1{
        padding-left: 170px;
        padding-right: 0;
        @media all and (max-width: $breakpoint1){
          padding-left: 115px;
        }
        @media all and (max-width: $breakpoint3){
          padding-right: 30px;
          padding-left: 0;
        }
        img{
          margin-left: 33px;
          margin-right: 0;
          @media all and (max-width: $breakpoint1){
            margin-left: 21px;
          }
          @media all and (max-width: $breakpoint3){
            margin-left: 35px;
          }
        }
      }
      .col-2{
        padding-right: 55px;
        padding-left: 0;
        @media all and (max-width: $breakpoint1){
          padding-right: 32px;
        }
        @media all and (max-width: $breakpoint3){
          padding-right: 33px;
        }
        img{
          margin-left: 53px;
          margin-right: 0;
          @media all and (max-width: $breakpoint1){
            margin-left: 34px;
          }
          @media all and (max-width: $breakpoint3){
            margin-left: 33px;
          }
        }
      }
    }
  }
  .login-wrapper{
    .login-form{
      .social{
        a{
          img{
            margin-right: 0;
            margin-left: 22px;
          }
          &.fb{
            margin-left: 20px;
            margin-right: 0;
          }
        }
      }
    }
  }
  .about-points{
    li{
      .img{
        transform: rotateY(180deg);
      }
      span{
        transform: rotateY(180deg);
        @media all and (max-width: $breakpoint2){
          left: 54px;
        }
      }
    }
  }
  .about-text{
    @media all and (max-width: $breakpoint2){
      padding-right: 30px;
      padding-left: 0;
    }
    @media all and (max-width: $breakpoint3){
      padding-right: 0;
    }
    h2{
      margin-right: -105px;
      margin-left: 0;
      @media all and (max-width: $breakpoint1){
        margin-right: -50px;
      }
      @media all and (max-width: $breakpoint2){
        margin-right: 0;
      }
    }
    p{
      @media all and (max-width: $breakpoint2){
        width: 100%;
        padding-right: 100px;
        padding-left: 55px;
      }
      @media all and (max-width: $breakpoint3){
        padding-left: 0;
        padding-right: 0;
      }
    }
    blockquote{
      margin-right: -270px;
      margin-left: 0;
      @media all and (max-width: $breakpoint1){
        margin-right: -200px;
      }
      @media all and (max-width: $breakpoint2){
        margin-right: 0;
        padding-right: 0;
        padding-left: 110px;
      }
      @media all and (max-width: $breakpoint3){
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
  .inner-container{
    .banner{
      @media all and (max-width: $breakpoint3){
        margin-left: 0;
        margin-right: -20px;
      }
    }
  }
  .profile-sidebar{
    .profile-menu{
      &:after{
        left: auto;
        right: 0;
        transform: rotateY(180deg);
      }
      &>ul{
        padding-right: 45px;
        padding-left: 0;
        @media all and (max-width: $breakpoint3){
          padding-right: 0;
        }
        &>li{
          &>a{
            &.active{
              &:before{
                right: -45px;
                left: auto;
              }
            }
          }
        }
      }
    }
  }
  .profile-wrapper{
    .to-profile-menu{
      img{
        margin-right: 0;
        margin-left: 34px;
        transform: rotateY(180deg);
      }
    }
    .profile-form, .address-form{
      .field{
        &.date{
          +.date{
            margin-right: 20px;
            margin-left: 0;
          }
        }
      }
    }
    .credit-card,
    .address-card{
      .credit-card-inner,
      .address-card-inner{
        img{
          right: auto;
          left: 20px;
        }
        .btn{
          left: 20px;
          right: auto;
        }
      }
    }
    .address-form{
      .cancel{
        margin-right: 10px;
        margin-left: 0;
      }
    }
    .secure-text{
      padding-left: 0;
      padding-right: 30px;
      &:before{
        right: 0;
        left: auto;
      }
    }
    .card-form{
      .field{
        &.secured{
          &:after{
            left: 12px;
            right: auto;
          }
        }
        &.card-date,
        &.card-cvv{
          margin-right: 10px;
          margin-left: 0;
          a{
            left: 12px;
            right: auto;
          }
        }
        &.card-date{
          @media all and (max-width: 567px){
            margin-right: 0;
          }
        }
      }
      .cancel{
        margin-right: 10px;
        margin-left: 0;
      }
    }
  }
  .cart-wrapper{
    .col-1{
      margin-right: 0;
      margin-left: 40px;
      @media all and (max-width: $breakpoint2){
        margin-left: 0;
      }
      @media all and (max-width: $breakpoint3){
        margin-left: 0;
        margin-right: -8px;
      }
      .product-item{
        .to-favorites{
          right: 335px;
          left: auto;
          @media all and (max-width: $breakpoint1){
            right: 245px;
          }
          @media all and (max-width: $breakpoint3){
            right: 13px;
          }
        }
      }
    }
    .col-2{
      @media all and (max-width: $breakpoint3){
        margin-left: 0;
        margin-right: -20px;
      }
    }
    .cart-total{
      .total{
        @media all and (max-width: $breakpoint3){
          text-align: right;
        }
      }
      p{
        text-align: right;
      }
    }
  }
  .product-item{
    .to-favorites{
      left: 13px;
      right: auto;
    }
    .remove{
      left: 12px;
      right: auto;
    }
  }
  .favorites-empty,
  .cart-empty,
  .orders-empty{
    right: 50%;
    left: auto;
    margin-left: 0;
    margin-right: -260px;
    @media all and (max-width: $breakpoint3){
      right: auto;
      margin-right: 0;
    }
  }
  .filters-wrapper{
    .dropdown{
      +.dropdown{
        margin-right: 25px;
        margin-left: 0;
        @media all and (max-width: $breakpoint1){
          margin-right: 12px;
        }
        @media all and (max-width: $breakpoint3){
          margin-right: 7px;
        }
        @media all and (max-width: 567px){
          margin-right: 0;
          margin-left: 7px;
        }
      }
      @media all and (max-width: $breakpoint3){
        margin-left: 0;
      }
      @media all and (max-width: 567px){
        margin-left: 7px;
        margin-right: 0;
        &:nth-child(even){
          margin-right: 7px;
          margin-left: 0;
        }
      }
    }
  }
  .catalog-wrapper{
    margin-left: 0;
    margin-right: -11px;
    @media all and (max-width: $breakpoint2){
      margin-right: -8px;
    }
  }
  .quick-wrapper{
    text-align: right;
  }
  .product-wrapper{
    .product-slider{
      margin-right: 0;
      margin-left: 30px;
      @media all and (max-width: $breakpoint1){
        margin-left: 20px;
      }
      @media all and (max-width: $breakpoint3){
        margin-left: 0;
      }
      .to-favorites{
        right: auto;
        left: 20px;
        @media all and (max-width: $breakpoint1){
          left: 15px;
        }
      }
      .thumbs{
        margin-right: 0;
        margin-left: 40px;
        @media all and (max-width: $breakpoint1){
          margin-left: 30px;
        }
        @media all and (max-width: $breakpoint2){
          margin-left: 25px;
        }
        @media all and (max-width: $breakpoint3){
          margin-left: 0;
        }
      }
      .full{
        .around-wrapper,
        .video-wrapper{
          .close{
            right: auto;
            left: 12px;
            top: 12px;
          }
        }
      }
    }
    .product-info{
      @media all and (max-width: $breakpoint2) and (orientation: portrait){
        padding-left: 0;
        padding-right: 95px;
      }
      @media all and (max-width: $breakpoint3){
        padding-right: 0;
      }
      .product-details{
        padding-left: 44px;
        padding-right: 0;
        @media all and (max-width: $breakpoint1){
          padding-left: 29px;
        }
        &:after{
          left: 0;
          right: auto;
          transform: rotate(180deg);
        }
      }
      .info{
        margin-left: 0;
        margin-right: 20px;
      }
      .product-price-wrapper{
        .add-to-cart{
          margin-right: 6px;
          margin-left: 0;
          span{
            right: 0;
            left: auto;
          }
        }
      }
    }
    .product-description{
      @media all and (max-width: $breakpoint2) and (orientation: portrait){
        padding-right: 95px;
        padding-left: 0;
        text-align: right;
      }
      @media all and (max-width: $breakpoint3){
        padding-right: 0;
      }
      .short-text,
      .full-text{
        text-align: right;
      }
      .more{
        padding-left: 27px;
        padding-right: 0;
        &:after{
          left: 0;
          right: auto;
        }
      }
    }
  }
  .popup{
    .popup-body{
      .close{
        left: 12px;
        right: auto;
      }
    }
  }
  .pager{
    .prev{
      &.disabled{
        a{
          background-image: url($imgPath + 'arrow-right-grey.png');
        }
      }
      a{
        background: url($imgPath + 'arrow-right-black.png') no-repeat center;
        border: none;
      }
    }
    .next{
      &.disabled{
        a{
          background-image: url($imgPath + 'arrow-left-grey.png');
        }
      }
      a{
        background: url($imgPath + 'arrow-left-black.png') no-repeat center;
        border: none;
      }
    }
  }
  .checkout-wrapper{
    .col-2{
      .checkout-block{
        .title{
          padding: 26px 20px;
          @media all and (max-width: $breakpoint3){
            padding: 0 20px;
          }
          i{
            margin-right: 20px;
            margin-left: 0;
          }
        }
      }
    }
    .checkout-block{
      .title{
        padding-right: 45px;
        padding-left: 0;
        span{
          right: 0;
          left: auto;
        }
        a{
          @media all and (max-width: $breakpoint3){
            right: auto;
            left: 20px;
          }
        }
      }
      .field{
        &.secured{
          &:after{
            left: 12px;
            right: auto;
          }
        }
        &.card-date,
        &.card-cvv{
          margin-left: 0;
          margin-right: 10px;
          a{
            left: 12px;
            right: auto;
          }
        }
        &.card-date{
          @media all and (max-width: 567px){
            margin-right: 0;
          }
        }
      }
    }
  }
  .order-item{
    .remove{
      left: 15px;
      right: auto;
    }
    .info{
      padding-right: 15px;
      padding-left: 0;
    }
    .option{
      img{
        margin-left: 12px;
        margin-right: 0;
      }
    }
  }
  .contact-wrapper{
    .title{
      img{
        margin-right: 0;
        margin-left: 40px;
        @media all and (max-width: $breakpoint1){
          margin-left: 23px;
        }
        @media all and (max-width: $breakpoint3){
          margin-left: 0;
          margin-right: 34px;
        }
      }
    }
    .col-1{
      @media all and (max-width: $breakpoint2){
        margin-right: 0;
        margin-left: 120px;
      }
      @media all and (max-width: 970px){
        margin-left: 0;
      }
    }
    .col-2{
      &:before{
        right: 32px;
        left: auto;
        @media all and (max-width: $breakpoint1){
          left: auto;
          right: 22px;
        }
      }
    }
    .contact-info{
      &:after{
        right: 0;
        left: auto;
      }
      a{
        img{
          margin-right: 0;
          margin-left: 30px;
          @media all and (max-width: $breakpoint1){
            margin-left: 21px;
          }
          @media all and (max-width: $breakpoint3){
            margin-left: 13px;
          }
        }
      }
    }
  }
  .delivery-wrapper{
    .tabs{
      @media all and (max-width: $breakpoint3){
        margin-left: 0;
        margin-right: -20px;
      }
      .tab{
        +.tab{
          margin-right: 25px;
          margin-left: 0;
          @media all and (max-width: $breakpoint3){
            margin-right: 0;
          }
        }
        img{
          margin-left: 47px;
          margin-right: 0;
          @media all and (max-width: $breakpoint1){
            margin-left: 25px;
          }
        }
      }
    }
    .tab-contents{
      .tab-content{
        padding-right: 310px;
        padding-left: 85px;
        @media all and (max-width: $breakpoint1){
          padding-left: 200px;
          padding-right: 200px;
        }
        @media all and (max-width: $breakpoint2){
          padding-right: 130px;
          padding-left: 55px;
        }
        @media all and (max-width: $breakpoint3){
          padding-right: 40px;
          padding-left: 0;
        }
      }
    }
  }
  .accordion{
    dt{
      &:before{
        left: 100%;
        right: auto;
        margin-left: 23px;
        margin-right: 0;
        @media all and (max-width: $breakpoint1){
          margin-left: 16px;
        }
      }
    }
  }
  .not-found{
    padding-right: 225px;
    padding-left: 0;
    @media all and (max-width: $breakpoint1){
      padding-right: 140px;
    }
    @media all and (max-width: $breakpoint2){
      padding-right: 86px;
    }
    @media all and (max-width: $breakpoint3){
      padding-right: 0;
    }
    img{
      margin-right: 0;
      margin-left: 40px;
      @media all and (max-width: $breakpoint1){
        margin-left: 25px;
      }
      @media all and (max-width: $breakpoint3){
        margin-left: 0;
        margin-right: 34px;
      }
    }
  }
  .faq-wrapper{
    @media all and (max-width: $breakpoint2){
      padding-left: 0;
      padding-right: 30px;
    }
    @media all and (max-width: $breakpoint3){
      padding-right: 0;
    }
    .not-found{
      padding-right: 195px;
      padding-left: 0;
      @media all and (max-width: $breakpoint1){
        padding-right: 160px;
      }
      @media all and (max-width: $breakpoint2){
        padding-right: 56px;
      }
      @media all and (max-width: $breakpoint3){
        padding-right: 0;
      }
    }
    .title{
      img{
        margin-right: 0;
        margin-left: 40px;
        @media all and (max-width: $breakpoint1){
          margin-left: 23px;
        }
        @media all and (max-width: $breakpoint3){
          margin-left: 0;
          margin-right: 34px;
        }
      }
      span{
        right: 0;
        left: auto;
      }
    }
    .faq{
      padding-right: 195px;
      padding-left: 85px;
      @media all and (max-width: $breakpoint2){
        padding-right: 100px;
        padding-left: 55px;
      }
      @media all and (max-width: $breakpoint3){
        padding-right: 40px;
        padding-left: 0;
      }
      span{
        left: 100%;
        right: auto;
        margin-left: 23px;
        @media all and (max-width: $breakpoint1){
          margin-left: 13px;
          margin-right: 0;
        }
      }
    }
  }
  .favorites-wrapper{
    margin-right: -11px;
    margin-left: 0;
    @media all and (max-width: $breakpoint2){
      margin-right: -8px;
    }
  }
  .orders{
    &.orders-inner{
      td{
        @media all and (max-width: $breakpoint3){
          padding-right: 50% !important;
          padding-left: 0 !important;
          text-align: right;
          &:before{
            right: 0;
            left: auto;
            padding: 7px 25px 7px10px;
          }
        }
        &:first-child{
          @media all and (max-width: $breakpoint3){
            &:before{
              padding: 17px 25px 17px 10px;
            }
          }
        }
      }
    }
    th{
      text-align: right;
      padding-left: 10px;
      padding-right: 0;
      &:first-child{
        padding-right: 30px;
        padding-left: 0;
        @media all and (max-width: $breakpoint2){
          padding-right: 15px;
        }
      }
    }
    td{
      padding-left: 10px;
      padding-right: 0;
      &:first-child{
        padding-right: 30px;
        padding-left: 0;
        @media all and (max-width: $breakpoint2){
          padding-right: 15px;
        }
      }
    }
    .order-item{
      .info{
        @media all and (max-width: $breakpoint3){
          padding-right: 0;
        }
      }
    }
  }
  .orders-inner-header{
    .back{
      padding-right: 25px;
      padding-left: 0;
      background: url($imgPath + 'arrow-right-small-black.png') no-repeat right center;
    }
    .print{
      padding-left: 35px;
      padding-right: 0;
      background: url($imgPath + 'print.png') no-repeat left center;
    }
    p{
      right: 0;
      left: auto;
    }
  }
  .delivery-method{
    padding-right: 39px;
    padding-left: 0;
    &:before{
      right: 0;
      left: auto;
    }
  }
  .other-product-wrapper{
    .catalog-controls{
      .swiper-next{
        background: url($imgPath + 'arrow-left-blue.png') no-repeat center;
        &:hover{
          background-image: url($imgPath + 'arrow-left-grey.png');
        }
      }
      .swiper-prev{
        margin-left: 35px;
        margin-right: 0;
        background: url($imgPath + 'arrow-right-blue.png') no-repeat center;
        @media all and (max-width: $breakpoint3){
          margin-left: 20px;
        }
        &:hover{
          background-image: url($imgPath + 'arrow-right-grey.png');
        }
      }
    }
    .swiper-container{
      margin-left: 0;
      margin-right: -20px;
    }
  }
  .radio{
    label{
      &:before{
        left: auto;
        right: 0;
        margin-left: 18px;
        margin-right: 0;
      }
      &:after{
        left: auto;
        right: 6px;
      }
    }
  }
  .thank-wrapper{
    padding-left: 325px;
    padding-right: 0;
    @media all and (max-width: $breakpoint1){
      padding-left: 230px;
    }
    @media all and (max-width: $breakpoint2){
      padding-left: 0;
    }
    @media all and (max-width: $breakpoint3){
      right: auto;
      padding: 0 8px;
    }
    .continue{
      &:after{
        margin-left: 0;
        margin-right: 15px;
        background: url($imgPath + 'back.png') no-repeat;
      }
    }
  }
  .delete-wrapper{
    .cancel{
      margin-right: 10px;
      margin-left: 0;
    }
  }
  .added-to-cart{
    right: 0;
    left: auto;
    img{
      margin-left: 19px;
      margin-right: 0;
    }
  }
  .cart-popup{
    left: 33px;
    right: auto;
    @media all and (max-width: $breakpoint1){
      left: 25px;
    }
    @media all and (max-width: $breakpoint2){
      left: 12px;
    }
    &:before{
      left: 3px;
      right: auto;
    }
    &:after{
      right: 0;
      left: auto;
    }
  }
}