$imgPath: '../img/';
$svgPath: '../svg/';
$fontPath: '../fonts/';

$easing: ease;
$breakpoint1: 1590px;
$breakpoint2: 1154px;
$breakpoint3: 767px;

$breakpointHover: 1155px;

$hover: 1155px;

$regular: 'GothamProRegular';
$bold: 'GothaProBold';
$medium: 'GothamProMedium';
$bolditalic: 'GothamProBoldItalic';
$light: 'GothamProLight';
$italic: 'GothamProItalic';
$bad: 'BADSCRIPT-REGULAR';

$font-list: [$regular, $bold, $medium, $bad, $bolditalic, $light, $italic];

@each $font in $font-list {
  @include font-face($font, $fontPath, woff ttf);
}