<div class="profile-sidebar">
  <div class="profile-menu">
    <ul>
  {% if not logged %}
  <li><a href="{{ login }}" class="list-group-item">{{ text_login }}</a></li>
      <li><a href="{{ register }}" class="list-group-item">{{ text_register }}</a></li>
      <li><a href="{{ forgotten }}" class="list-group-item">{{ text_forgotten }}</a></li>
  {% else %}
      <li><a href="{{ account }}" class="list-group-item">{{ text_account }}</a></li>
      <li><a href="{{ edit }}" class="list-group-item">{{ text_edit }}</a></li> <li><a href="{{ password }}" class="list-group-item">{{ text_password }}</a></li>
      <li><a href="{{ address }}" class="list-group-item">{{ text_address }}</a></li>
      <li><a href="{{ wishlist }}" class="list-group-item">{{ text_wishlist }}</a></li>
      <li><a href="{{ order }}" class="list-group-item">{{ text_order }}</a></li>
      {#<li><a href="{{ transaction }}" class="list-group-item">{{ text_transaction }}</a></li>#}
      <li><a href="{{ newsletter }}" class="list-group-item">{{ text_newsletter }}</a></li>
  <li><a href="{{ logout }}" class="list-group-item">{{ text_logout }}</a></li>
  {% endif %}
    </ul>
  </div>
</div>
