<div class="index-banners-title second-section">
    <div class="max-width">
{#        <div class="title"><img src="catalog/view/theme/yumster/assets/build/img/mouse.png" width="34"></div>#}
        <div class="title">{{ section_title }}</div>
    </div>
</div>

<div class="index-banners second-section">
    {% set class = ['collection', 'boys', 'girls'] %}
    {% for banner in banners|slice(0,3) %}
    <div class="banner banner-{{ class[loop.index0] }}">
        <div class="bg" style="background-image: url({{ banner.image }})"></div>
        <div class="title">{{ banner.title }}</div>
        <a href="{{ banner.link }}" class="btn">{{ shop_now }}</a>
    </div>
    {% endfor %}
</div>