<div class="swiper-viewport-{{ banner_id }}">
    <div id="banner{{ module }}" class="swiper-container">
        <div class="swiper-wrapper">{% for banner in banners %}
                <div class="swiper-slide">{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{% endif %}</div>
            {% endfor %}</div>
    </div>
</div>
<script type="text/javascript"><!--
    $('#banner{{ module }}').swiper({
        effect: 'fade',
        autoplay: 2500,
        autoplayDisableOnInteraction: false
    });
    --></script>