<div class="top-categories">
    <div class="max-width">
        {% set background = ['#ffe2d8', '#d4e3fc', '#d4fce1','#ededed'] %}
        <ul>
            {% for banner in banners|slice(0,4) %}
            <li> <a href="{{ banner.link }}" style="background-color: {{ background[loop.index0] }}"> {{ banner.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>