<div class="fourth-section">
<div class="index-banners-title">
    <div class="max-width">
        <div class="title">{{ section_title }}</div>
    </div>
</div>

<div class="index-banners">
    {% for banner in banners|slice(0,3) %}
    <div class="banner">
            <a href="{{ banner.link }}" class="img-link"  style="background-image: url({{ banner.image }})">
            <div class="btn">{{ shop_now }}</div>
        </a>
        <a href="{{ banner.link }}" class="text-link">{{ banner.title}}</a>
    </div>
    {% endfor %}
</div>
</div>