{% if not islogged %}
    <div class="dsl-wrap">


        {% if (error) %}
            <div class="alert alert-warning">{{ error }}</div>
        {% endif %}
        <p id="d_social_login">
            {% for key,provider in providers %}
                {% if (provider['enabled']) %}
				<a href="index.php?route=extension/module/d_social_login/login&provider={{ key }}"  class="dsl-button dsl_{{ provider['id'] }}_button {{ size }} fb"><img src="catalog/view/theme/yumster/assets/build/img/fb2.png">{{ key }}</a>
                {% endif %}
            {% endfor %}
        </p>
    </div>
{% endif %}
