<div class="filters-wrapper">
    {% set was_selected = 0 %}
    {% for filter_group in filter_groups %}
    <div class="dropdown dropdown-select filter-select" id="filter-group{{ filter_group.filter_group_id }}">

        {% for filter in filter_group.filter %}
            {% if filter.filter_id in filter_category %}
                {% set was_selected = 1 %}
                <div class="current">{{ filter.name }}</div>
            {% endif %}
        {% endfor %}
        {% if was_selected == 0 %}
            <div class="current">{{ filter_group.name }}</div>
        {% else %}
            {% set was_selected = 0 %}
        {% endif %}

        <ul>
            {% for filter in filter_group.filter %}
            <li data-value="{{ filter.filter_id }}">{{ filter.name }}</li>
            {% endfor %}
        </ul>
        <select name="{{ filter.filter_id }}">
            <option default data-value="initial">{{ filter_group.name }}</option>
            {% for filter in filter_group.filter %}
            <option value="{{ filter.filter_id }}"{% if filter.filter_id in filter_category %}  selected{% endif %}>{{ filter.name }}</option>
            {% endfor %}
        </select>
    </div>
    {% endfor %}
    <button type="button" id="button-filter" class="btn btn-primary">{{ clear_all_filters }}</button>

</div>
<script type="text/javascript"><!--
    $('.filter-select select').on('change', function() {
    filter = [];
        $('.inner-container .filters-wrapper option:selected').each(function(element) {
            if($(this).data("value") != "initial") {
                console.log($(this).data("value"));
            filter.push(this.value);
        }
        });

        location = '{{ action }}&filter=' + filter.join(',');
    });
    $('#button-filter').on('click', function() {

        location = '{{ action }}';
    });
    //--></script>
{#
<div class="panel panel-default">
  <div class="panel-heading">{{ heading_title }}</div>
  <div class="list-group"> {% for filter_group in filter_groups %} <a class="list-group-item">{{ filter_group.name }}</a>
    <div class="list-group-item">
      <div id="filter-group{{ filter_group.filter_group_id }}">{% for filter in filter_group.filter %}
        <div class="checkbox">
          <label>{% if filter.filter_id in filter_category %}
            <input type="checkbox" name="filter[]" value="{{ filter.filter_id }}" checked="checked" />
            {{ filter.name }}
            {% else %}
            <input type="checkbox" name="filter[]" value="{{ filter.filter_id }}" />
            {{ filter.name }}
            {% endif %}</label>
        </div>
        {% endfor %}</div>
    </div>
    {% endfor %}</div>
  <div class="panel-footer text-right">
    <button type="button" id="button-filter" class="btn btn-primary">{{ button_filter }}</button>
  </div>
</div>
<script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	filter = [];

	$('input[name^=\'filter\']:checked').each(function(element) {
		filter.push(this.value);
	});

	location = '{{ action }}&filter=' + filter.join(',');
});
//--></script> 
#}