<h3 class="new-arrival">{{ heading_title }}</h3>
<div class="catalog-wrapper">
  {% for product in products %}
    <div class="product-item">
      <a  title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');" class="to-favorites"></a>
      <a href="{{ product.href }}" class="img">
        <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}">
        <div class="img-action">
          <span data-popup="quick-view" class="quick-view-category" data-prodid="{{ product.product_id }}">{{ quick_view }}</span>
          <span>{{shop_now }}</span>
        </div>
      </a>
      <a href="{{ product.href }}" class="product-name">{{ product.name }}</a>
      <div class="product-price"><strong>
          {% if product.price %}
            {% if not product.special %}
              {{ product.price }}
            {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
          {% endif %}
        </strong></div>
    </div>
  {% endfor %}
</div>