<div class="index-banner">
    <div class="video-container homepage-hero-module">
      {#<div class="filter"></div>#}
      <video controls muted loop autoplay class="fillWidth" poster="" data-poster="{{ video_poster_img }}">
        <source src="{{ video_file }}" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
      </video>
      <div class="poster hidden">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
      </div>
      <div class="max-width">
        <div class="banner">
          <p>{{ video_text1 }}</p>
          <h1>{{ video_text2 }}</h1>
          <a href="http://{{ video_link }}" class="btn">{{ view_all }}</a>
        </div>
      </div>
      <a class="mute-video"><img src="/image/catalog/home/mute-on.png" alt="mute"></a>

      <div class="banner-footer">
        <div class="col col-1"><img src="/image/catalog/home/icon-delivery.png">{{ text_delivery }}</div>
        <div class="col col-2"><img src="/image/catalog/home/icon-box.png">{{ text_box }}</div>
      </div>
    </div>
  </div>