<div class="other-product-wrapper" data-size="4" data-size-1="3" data-size-2="2" data-size-3="1">
  <div class="title">{{ heading_title }}
    {% if products|length > 4 %}
    <div class="catalog-controls">
      <div class="swiper-prev"></div>
      <div class="swiper-next"></div>
    </div>
    {% endif %}
  </div>
  {% if products|length < 5 %}
  <div class="swiper-container_no_slider">
  {% else %}
    <div class="swiper-container">
  {% endif %}
    <div class="swiper-wrapper">
      {% for product in products %}
        <div class="swiper-slide">
          <div class="product-item">
            <a  title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');" class="to-favorites"></a>
            <a href="{{ product.href }}" class="img">
              <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" />
              <div class="img-action">
                <span data-popup="quick-view" class="quick-view-category" data-prodid="{{ product.product_id }}">{{ quick_view }}</span>
                <span onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');">{{shop_now }}</span>
              </div>
            </a>
            <a href="{{ product.href }}" class="product-name">{{ product.name }}</a>
            {#<div class="product-price"><strong>{{ product.price}}</strong></div>#}
            <div class="product-price"><strong>
                {% if product.price %}
                  {% if not product.special %}
                    {{ product.price }}
                  {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
                {% endif %}
              </strong></div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>