<a class="cart" href="{{ cart }}" id="cart"><span>{{ text_items }}</span></a>
<div class="cart-popup">
  {% if products or vouchers %}
  <div class="title">{{ you_added_to_cart }}</div>
  {% for product in products %}
  <div class="order-item">
    {% if product.thumb %} <a href="{{ product.href }}" class="img"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}"/></a> {% endif %}
    <div class="info">
      <div class="product-price"><strong>{{ product.price }}x {{ product.quantity }}</strong></div>
      <div class="product-name"><a href="{{ product.href }}">{{ product.name }}</a></div>
      {% if product.option %}
      <div class="product-options">
        {% for option in product.option %}
        <div class="option">
          {{ option.name }} {{ option.value }}
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% if product.recurring %} <br />
        - <small>{{ text_recurring }} {{ product.recurring }}</small>
      {% endif %}
    </div>
    <a class="remove" onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}"></a>
  </div>
  {% endfor %}
  {% for voucher in vouchers %}
  <div class="order-item">
    <div class="product-name">{{ voucher.description }}</div>
    <div class="product-options">x&nbsp;1</div>
    <div class="product-price">{{ voucher.amount }}</div>
    <a href="#" class="remove"  onclick="voucher.remove('{{ voucher.key }}');" title="{{ button_remove }}"></a>
  </div>
  {% endfor %}
  <div class="total">
    {% for total in totals %}
    {% if  total.title  == "Total" %}
    <p><strong class="total-title">{{ total.title }}</strong><strong>{{ total.text }}</strong></p>
    {% endif %}
    {% endfor %}
  </div>
  <div class="cart-popup-footer"><a href="{{ cart }}" class="btn">{{ text_cart }}</a></div>
  {% else %}
  <div class="order-item">{{ text_empty }}</div>
  {% endif %}
</div>
{#<div id="cart" class="btn-group btn-block">
  <button type="button" data-toggle="dropdown" data-loading-text="{{ text_loading }}" class="btn btn-inverse btn-block btn-lg dropdown-toggle"><i class="fa fa-shopping-cart"></i> <span id="cart-total">{{ text_items }}</span></button>
  <ul class="dropdown-menu pull-right">
    {% if products or vouchers %}
    <li>
      <table class="table table-striped">
        {% for product in products %}
        <tr>
          <td class="text-center">{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a> {% endif %}</td>
          <td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a> {% if product.option %}
            {% for option in product.option %} <br />
            - <small>{{ option.name }} {{ option.value }}</small> {% endfor %}
            {% endif %}
            {% if product.recurring %} <br />
            - <small>{{ text_recurring }} {{ product.recurring }}</small> {% endif %}</td>
          <td class="text-right">x {{ product.quantity }}</td>
          <td class="text-right">{{ product.total }}</td>
          <td class="text-center"><button type="button" onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></td>
        </tr>
        {% endfor %}
        {% for voucher in vouchers %}
        <tr>
          <td class="text-center"></td>
          <td class="text-left">{{ voucher.description }}</td>
          <td class="text-right">x&nbsp;1</td>
          <td class="text-right">{{ voucher.amount }}</td>
          <td class="text-center text-danger"><button type="button" onclick="voucher.remove('{{ voucher.key }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></td>
        </tr>
        {% endfor %}
      </table>
    </li>
    <li>
      <div>
        <table class="table table-bordered">
          {% for total in totals %}
          <tr>
            <td class="text-right"><strong>{{ total.title }}</strong></td>
            <td class="text-right">{{ total.text }}</td>
          </tr>
          {% endfor %}
        </table>
        <p class="text-right"><a href="{{ cart }}"><strong><i class="fa fa-shopping-cart"></i> {{ text_cart }}</strong></a>&nbsp;&nbsp;&nbsp;<a href="{{ checkout }}"><strong><i class="fa fa-share"></i> {{ text_checkout }}</strong></a></p>
      </div>
    </li>
    {% else %}
    <li>
      <p class="text-center">{{ text_empty }}</p>
    </li>
    {% endif %}
  </ul>
</div>#}