</div>{#end of container in header inner#}
<div class="footer-wrapper">
  <div class="footer">
    <div class="max-width">
      <div class="footer-blocks">
        <div class="footer-block">
          <div class="title">Yumster <span>{{ menu }}</span></div>
          <div class="footer-menu">
            <ul>
              <li><a href="about_us">{{ about_us }}</a></li>
              <li><a href="{{ contact }}">{{ contact_us }}</a></li>
              <li><a href="delivery">{{ delivery_returns }}</a></li>
              <li><a href="faq">{{ faq }}</a></li>
              <li><a href="terms">{{ terms_conditions }}</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-block">
          <div class="title">{{ join_community }}</div>
          <div class="social">
            <a href="https://www.instagram.com/yumsterkids" target="_blank" class="in"></a>
            <a href="https://www.facebook.com/pg/yumsterkids/shop/" target="_blank" class="fb"></a>
            <a href="https://www.pinterest.com/yumsterkids/pins/" target="_blank" class="pn"></a>
            <a href="https://www.youtube.com/channel/UCJdk-XfTcjqCyVi8-atzb6A?disable_polymer=true" target="_blank" class="yt"></a>
          </div>
          <p class="copy"><a href="http://www.ego-wba.co.il/" target="_blank">Designed by EGO</a>Copyright © 2018 Yumster</p>
        </div>
        <div class="footer-block">
          <div class="title">{{ download_catalog }}</div>
          <!-- if error add class <form class="error"> -->
          <!-- if success add class <form class="success"> -->
          <form class="recieve_catalog">
            <div class="success-message">You will get catalog on e-mail.</div>
            <div class="field">
              <input type="text" placeholder="{{ your_email }}" name="catalog-email" id="form_email"/>
            </div>
            <button></button>
          </form>
        </div>
      </div>
    </div>
    <div class="payment-icons max-width">
      <img src="catalog/view/theme/yumster/assets/build/img/icon-paypal.png" title="paypal" alt="paypal" />
      <img src="catalog/view/theme/yumster/assets/build/img/icon-mastercard.png" title="icon-mastercard" alt="icon-mastercard" />
      <img src="catalog/view/theme/yumster/assets/build/img/icon-visa.png" title="visa" alt="visa"/>
    </div>
  </div>
</div>
<script>
  function validateEmail($email) {
    var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
    return emailReg.test( $email );
  }
  $(".recieve_catalog").on('submit', function(event) {
    event.preventDefault();

      var email_post =  $("#form_email").val();

    if( !validateEmail(email_post) || email_post.length == 0) {
      $(this).addClass("error");
      alert("Email is empty or invalid!");
    } else {
      $.ajax({
        type: "POST",
        url: "http://yumster/index.php?route=common/footer",
        data: $(".recieve_catalog").serialize(),
        success: function(){
          $(".recieve_catalog").removeClass("error").addClass("success");;
        }
      });
    }
  });

</script>
{#<footer>
  <div class="container">
    <div class="row">
      {% if informations %}
      <div class="col-sm-3">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p>{{ powered }}</p>
  </div>
</footer>#}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
<script type="text/javascript" src="catalog/view/theme/yumster/assets/build/js/swiper.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/yumster/assets/build/js/swiper.jquery.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/yumster/assets/build/js/functions.min.js"></script>
{#<script type="text/javascript" src="catalog/view/theme/yumster/assets/build/js/scrollreveal.min.js"></script> #}
{% if current_path_route != "account/login" and current_path_route != "account/register" %}
  <script type="text/javascript" src="catalog/view/theme/yumster/assets/build/js/scrollreveal.min.js"></script>
{% endif %}
<script type="text/javascript" src="catalog/view/theme/yumster/assets/build/js/TweenMax.min.js"></script>
<script type="text/javascript" src="catalog/view/javascript/common.js"></script>
<script type="text/javascript" src="catalog/view/theme/yumster/assets/build/js/main.min.js"></script>
{#<script type="text/javascript" src="catalog/view/theme/yumster/assets//sources/js/main.js"></script>#}


</div>

{% if module_pp_login==1 %}
  <script type="text/javascript" src="https://www.paypalobjects.com/js/external/api.js"></script>
  <script>
    paypal.use(['login'], function(login) {
      login.render ({
        'appid': '{{ paypal_client_id }}',
        'authend': '{{ paypal_sandbox }}',
        'scopes': '{{ paypal_scopes }}',
        'containerid': 'pp_login_container',
        'locale': '{{paypal_locale }}',
        'theme': '{{ paypal_button_colour }}',
        'returnurl': '{{ paypal_return_url }}'
      });
    });
  </script>
{% endif %}

</body>

</html>