<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
  {#<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
{#<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
  <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />#}
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<link href="catalog/view/theme/yumster/assets/build/css/main.min.css" rel="stylesheet">
<link href="catalog/view/theme/yumster/stylesheet/stylesheet.css" rel="stylesheet">
<script type="text/javascript" src="catalog/view/theme/yumster/assets/build/js/jquery-1.11.3.min.js"></script>
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body class="{{ body_class }}">
<div class="header">
  <div class="header-left">
    <div class="menu-toggler"><span></span></div>
    {% if logo %}<a href="{{ home }}" class="logo"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}<h1><a href="{{ home }}" class="logo">{{ name }}</a> {% endif %}</a>
      <a href="/boys" class="header-category">Boys</a>
    <a href="/girls" class="header-category">Girls</a>
  </div>
  <div class="header-right">
    <div class="langs">{{ language }} </div>
    <div class="currency">{{ currency }}</div>
    {# authorized#}
    <div class="user">
      <div class="dropdown with-arrow">
        <div class="current"><div class="user-icon"></div></div>
        <ul>
          {% if logged %}
            <li><a href="{{ account }}"><div class="icon"><img src="catalog/view/theme/yumster/assets/build/img/icon-user.png"/></div>{{ text_account }}</a></li>
            <li><a href="{{ order }}"><div class="icon"><img src="catalog/view/theme/yumster/assets/build/img/icon-list.png"/></div>{{ text_order }}</a></li>
            <li><a href="{{ logout }}"><div class="icon"><img src="catalog/view/theme/yumster/assets/build/img/icon-logout.png"/></div>{{ text_logout }}</a></li>
          {% else %}
            <li><a href="{{ register }}"><div class="icon"><img src="catalog/view/theme/yumster/assets/build/img/icon-user.png"/></div>{{ text_register }}</a></li>
            <li><a href="{{ login }}"><div class="icon"><img src="catalog/view/theme/yumster/assets/build/img/icon-logout.png"/></div>{{ text_login }}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    {{ search }}
    <a class="favorites" href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><span>{{ text_wishlist}}</span></a>
    {{ cart }}
    {# authorized#}

  </div>
</div>
<div class="sidebar">
  <div class="menu">
{{ menu }}
    </div>
  <div class="mobile-menu">
    <ul>
      {% if logged %}
        <li><a href="{{ account }}">{{ text_account }}</a></li>
      {% else %}
        <li><a href="{{ login }}">{{ text_login }}</a></li>
      {% endif %}
      <li class="search-menu-link"><a href="index.php?route=product/search">{{ search_text }}</a></li>
    </ul>

    <div class="langs">{{ language }} </div>
    <div class="currency">{{ currency }}</div>


  </div>
</div>
<div class="added-to-cart"></div>

<div class="slogan-line"><div class="max-width"><div class="slogan-image"><img src="catalog/view/theme/yumster/assets/build/img/slogan-image.png"></div><div class="slogan-text">{{ slogan_line_text }}</div></div></div>

