<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
  {#<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
{#<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
  <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />#}
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<link href="catalog/view/theme/yumster/assets/build/css/main.min.css" rel="stylesheet">
<link href="catalog/view/theme/yumster/stylesheet/stylesheet.css" rel="stylesheet">
<script type="text/javascript" src="catalog/view/theme/yumster/assets/build/js/jquery-1.11.3.min.js"></script>
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body class="{{ body_class }} checkout-page">
<div class="header header-checkout">
  <div class="header-left">
    <div class="menu-toggler"><span></span></div>
      <a href="{{ home }}" class="logo"><img src="catalog/view/theme/yumster/assets/build/img/logo-white.png" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
      <a href="/boys" class="header-category">Boys</a>
    <a href="/girls" class="header-category">Girls</a>
  </div>
  <div class="page-name"><h1>{{ checkout_header_title }}</h1></div>
  <div class="secured">{{ secured}}</div>
</div>

{% if 'page_success' in body_class %}
<div class="container">
<div class="sidebar">
  <div class="menu">{{ menu }}  </div>
  <div class="additional-menu">
    <ul>
      <li class="parent">
        <a href="#">{{ more }}</a>
        <ul>
          <li><a href="about_us">{{ about_us }}</a></li>
          <li><a href="index.php?route=information/contact">{{ contact_us }}</a></li>
          <li><a href="delivery">{{ delivery_returns }}</a></li>
          <li><a href="faq">{{ faq }}</a></li>
          <li><a href="terms">{{ terms_conditions }}</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="mobile-menu">
    <ul>
      {% if logged %}
        <li><a href="{{ account }}">{{ text_account }}</a></li>
      {% else %}
        <li><a href="{{ login }}">{{ text_login }}</a></li>
      {% endif %}
      <li class="search-menu-link"><a href="index.php?route=product/search">{{ search_text }}</a></li>
    </ul>

    <div class="langs">{{ language }} </div>
    <div class="currency">{{ currency }}</div>

  </div>
</div>
{% endif %}