{{ header }}
{% if modal_image %}
<div class="popup" id="index-modal-banner" data-timeout="{{modal_timeout}}">
    <div class="popup-outer">
        <div class="popup-inner">
            <div class="popup-body">
                <div class="close"></div>
                <div class="modal-banner-wrapper">
                    <img src="{{modal_image}}" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{{ content_top }}


{{ footer }}