{% if languages|length > 1 %}

    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
    <div class="dropdown with-arrow">
      {% for language in languages %}
      {% if language.code == code %}
      <div class="current"><img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}">{{ language.name }}</div>
      {% endif %}
      {% endfor %}
      <ul>
        {% for language in languages %}
        <li data-value="{{ language.code }}"><img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}">{{ language.name }}</li>
        {% endfor %}
      </ul>
      <select>
          {% for language in languages %}
            {% if language.code == code %}
              <option value="{{ language.code }}" selected>{{ language.name }}</option>
            {% else %}
              <option value="{{ language.code }}" >{{ language.name }}</option>
            {% endif %}  
          {% endfor %}
      </select>
    </div>
        <input type="hidden" name="code" value="" />
        <input type="hidden" name="redirect" value="{{ redirect }}" />
    </form>

{#<div class="pull-left">
  <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
    <div class="btn-group">
      <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
      {% for language in languages %}
      {% if language.code == code %} 
      <img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}">
      {% endif %}
      {% endfor %}
      <span class="hidden-xs hidden-sm hidden-md">{{ text_language }}</span>&nbsp;<i class="fa fa-caret-down"></i></button>
      <ul class="dropdown-menu">
        {% for language in languages %}
        <li>
          <button class="btn btn-link btn-block language-select" type="button" name="{{ language.code }}"><img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}" /> {{ language.name }}</button>
        </li>
        {% endfor %}
      </ul>
    </div>
    <input type="hidden" name="code" value="" />
    <input type="hidden" name="redirect" value="{{ redirect }}" />
  </form>
</div>#}
{% endif %}
