<ul>
    {% if categories %}
        {% for category in categories %}
            {% if category.children %}
                <li class="parent"><a href="{{ category.href }}">{{ category.name }}</a>
                    {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                        <ul>
                            {% for child in children %}
                                {#<li><a href="{{ child.href }}">{{ child.name }}</a></li>#}
                                {# Menu3rdLevel #}
                                {% if child.children_lv3 is defined and child.children_lv3 is not empty %}
                                    <li class="parent"><a href="{{ child.href }}">{{ child.name }}</a>
                                        {% for children_lv3 in child.children_lv3|batch(child.children_lv3|length / child.column|round(1, 'ceil')) %}
                                            {#<?php foreach (array_chunk($child['children_lv3'], ceil(count($child['children_lv3']) / $child['column'])) as $children_lv3) { ?>#}
                                            <ul>
                                                {% for child_lv3 in children_lv3 %}
                                                    <li><a href="{{ child_lv3.href }}">{{ child_lv3.name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        {% endfor %}
                                    </li>
                                {% else %}
                                    <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                                {% endif %}
                                {# Menu3rdLevel #}
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </li>
            {% else %}
                <li><a href="{{ category.href }}">{{ category.name }}</a></li>
            {% endif %}
        {% endfor %}
    {% endif %}
    <li><a href="index.php?route=information/information&information_id=8">{{ new_arrivals }}</a></li>
    <li><a href="index.php?route=product/category&path=69">{{ collections }}</a></li>
    <li class="sale"><a href="index.php?route=information/information&information_id=9">{{ sale }}</a></li>
</ul>
{#
{% if categories %}
<div class="container">
<nav id="menu" class="navbar">
<div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
</div>
<div class="collapse navbar-collapse navbar-ex1-collapse">
<ul class="nav navbar-nav">
{% for category in categories %}
{% if category.children %}
<li class="dropdown"><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
<div class="dropdown-menu">
<div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
  <ul class="list-unstyled">
    {% for child in children %}
    <li><a href="{{ child.href }}">{{ child.name }}</a></li>
    {% endfor %}
  </ul>
  {% endfor %}</div>
<a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>
</li>
{% else %}
<li><a href="{{ category.href }}">{{ category.name }}</a></li>
{% endif %}
{% endfor %}
</ul>
</div>
</nav>
</div>
{% endif %}
#}



