{{ header }}
{#profile-menu#}
{{ content_top }}
<div class="page-name"><h1>{{ breadcrumbs[1].text }}</h1></div>
<div class="inner-container">
  <div class="max-width">
    <div class="breadcrumbs">
      <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
        {% set BreadcrumbPosition = 1 %}
        {% for breadcrumb in breadcrumbs %}
          <li itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
            {% if loop.last %}
              <link href="{{ breadcrumb.href }}" itemprop="item">
              <span itemprop="name">{{ breadcrumb.text }}</span>
              <meta itemprop="position" content="{{ BreadcrumbPosition }}">
            {% else %}
              <a href="{{ breadcrumb.href }}" itemprop="item"><span itemprop="name">{{ breadcrumb.text }}</span></a>
              <meta itemprop="position" content="{{ BreadcrumbPosition }}">
            {% endif %}
          </li>
          {% set BreadcrumbPosition = BreadcrumbPosition + 1 %}
        {% endfor %}
      </ol>
    </div><br>
    <div class="login-wrapper">
      <div class="login-form">
      <h1>{{ heading_title }}</h1>
      {{ text_message }}
      <div class="buttons">
        <div><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {{ content_bottom }}
    {{ column_right }}
      </div>
      </div>
    </div>
  </div>
{{ footer }}