{{ header }}
{#profile-menu#}
{{ content_top }}
<div class="page-name"><h1>{{ breadcrumbs[1].text }}</h1></div>
<div class="popup" id="delete-address">
  <div class="popup-outer">
    <div class="popup-inner">
      <div class="popup-body">
        <div class="close"></div>
        <div class="delete-wrapper">
          <p>Do you like to delete credit address 1?</p>
          <a href="address_book_empty.php" class="btn submit">delete</button>
            <a href="#" class="btn cancel">cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="inner-container">
  <div class="max-width">
    <div class="breadcrumbs">
      <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
        {% set BreadcrumbPosition = 1 %}
        {% for breadcrumb in breadcrumbs %}
          <li itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
            {% if loop.last %}
              <link href="{{ breadcrumb.href }}" itemprop="item">
              <span itemprop="name">{{ breadcrumb.text }}</span>
              <meta itemprop="position" content="{{ BreadcrumbPosition }}">
            {% else %}
              <a href="{{ breadcrumb.href }}" itemprop="item"><span itemprop="name">{{ breadcrumb.text }}</span></a>
              <meta itemprop="position" content="{{ BreadcrumbPosition }}">
            {% endif %}
          </li>
          {% set BreadcrumbPosition = BreadcrumbPosition + 1 %}
        {% endfor %}
      </ol>
    </div><br>
    {% if success %}
      <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}
    {% if error_warning %}
      <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
    {% endif %}
    <div class="profile-wrapper">
      {% if addresses %}
        {% for result in addresses %}
          <div class="address-card">
            <label>Address {{ loop.index }}</label>
            <div class="address-card-inner">
              {{ result.address }}
              <a href="{{ result.update }}" class="btn">{{ button_edit }}</a>
              <a class="delete btn" href="{{ result.delete }}" data-popup="delete-address">{{ button_delete }}</a>
            </div>
          </div>
        {% endfor %}
      {% endif %}
      <a href="{{ add }}" class="add-address"><span>+</span>{{ button_new_address }}</a>
      <p class="secure-text">Some text about security and privacy.</p>
    </div>
  </div>
</div>

<script type="text/javascript"><!--
  $(document).on('click', '.address-card-inner .btn.delete', function(e) {
    e.preventDefault();
    var href = $(this).attr('href');
    $('#delete-address .btn.submit').attr('href',href);
    showPopup($(this).attr('data-popup'));
  });

  $(document).on('click', '.popup .close, .popup, #delete-address .btn.cancel', function(e){
    e.preventDefault();
    hidePopup($(this).closest('.popup').attr('id'));
  });

  //--></script>
{{ footer }}
{#{ header }}
<div id="account-address" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h2>{{ text_address_book }}</h2>
      {% if addresses %}
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          {% for result in addresses %}
          <tr>
            <td class="text-left">{{ result.address }}</td>
            <td class="text-right"><a href="{{ result.update }}" class="btn btn-info">{{ button_edit }}</a> &nbsp; <a href="{{ result.delete }}" class="btn btn-danger">{{ button_delete }}</a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
      {% else %}
      <p>{{ text_empty }}</p>
      {% endif %}
      <div class="buttons clearfix">
        <div class="pull-left"><a href="{{ back }}" class="btn btn-default">{{ button_back }}</a></div>
        <div class="pull-right"><a href="{{ add }}" class="btn btn-primary">{{ button_new_address }}</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }#}