{{ header }}
{#profile-menu#}
{{ content_top }}
<div class="page-name"><h1>{{ breadcrumbs[1].text }}</h1></div>
<div class="inner-container">
  <div class="max-width">
    <div class="login-wrapper">

      <div class="login-form">
        <div class="title">{{ sign_in_to_create }}</div>
        <p>{{ sign_in_with }}</p>
        <div class="social">
          <a href="#" class="fb"><img src="catalog/view/theme/yumster/assets/build/img/fb2.png"/>facebook</a>
        </div>
        <p>{{ text_sign_in_with_email }}</p>
        {% if success %}
          <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
        {% endif %}
        {% if error_warning %}
          <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
        {% endif %}
        <form action="{{ action }}" method="post" enctype="multipart/form-data">
          <div class="field form-group">
            <input  placeholder="{{ entry_email }}" type="text" name="email" value="{{ email }}" id="input-email"/>
          </div>
          <div class="field form-group">
            <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" />
            <div class="eye"></div>
          </div>
          <input type="submit" value="{{ button_login }}" class="btn btn-primary" />
          {% if redirect %}
            <input type="hidden" name="redirect" value="{{ redirect }}" />
          {% endif %}
        </form>
        <a href="{{ forgotten }}" class="forgot">{{ text_forgotten_ask }}</a>
        <hr>
        <p>{{ text_new_customer }}</p>
        <a href="{{ register }}" class="btn">{{ create_an_account }}</a>
      </div>
    </div>
  </div>
</div>
{{ footer }}




{#{ header }}
<div id="account-login" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="row">
        <div class="col-sm-6">
          <div class="well">
            <h2>{{ text_new_customer }}</h2>
            <p><strong>{{ text_register }}</strong></p>
            <p>{{ text_register_account }}</p>
            <a href="{{ register }}" class="btn btn-primary">{{ button_continue }}</a></div>
        </div>
        <div class="col-sm-6">
          <div class="well">
            <h2>{{ text_returning_customer }}</h2>
            <p><strong>{{ text_i_am_returning_customer }}</strong></p>
            <form action="{{ action }}" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label class="control-label" for="input-email">{{ entry_email }}</label>
                <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
              </div>
              <div class="form-group">
                <label class="control-label" for="input-password">{{ entry_password }}</label>
                <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
                <a href="{{ forgotten }}">{{ text_forgotten }}</a></div>
              <input type="submit" value="{{ button_login }}" class="btn btn-primary" />
              {% if redirect %}
              <input type="hidden" name="redirect" value="{{ redirect }}" />
              {% endif %}
            </form>
          </div>
        </div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }#}