{{ header }}
{#profile-menu#}
{{ content_top }}
<div class="page-name"><h1>{{ breadcrumbs[1].text }}</h1></div>
<div class="inner-container">
  <div class="max-width">
    <div class="breadcrumbs">
      <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
        {% set BreadcrumbPosition = 1 %}
        {% for breadcrumb in breadcrumbs %}
          <li itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
            {% if loop.last %}
              <link href="{{ breadcrumb.href }}" itemprop="item">
              <span itemprop="name">{{ breadcrumb.text }}</span>
              <meta itemprop="position" content="{{ BreadcrumbPosition }}">
            {% else %}
              <a href="{{ breadcrumb.href }}" itemprop="item"><span itemprop="name">{{ breadcrumb.text }}</span></a>
              <meta itemprop="position" content="{{ BreadcrumbPosition }}">
            {% endif %}
          </li>
          {% set BreadcrumbPosition = BreadcrumbPosition + 1 %}
        {% endfor %}
      </ol>
    </div><br>
    {% if success %}
      <div class="alert alert-success alert-dismissible"> {{ success }}</div>
    {% endif %}
    <div class="profile-wrapper">
      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal profile-form">
        <fieldset class="newsletter">
          <div class="form-group field">
            <label class="col-sm-2 control-label">{{ entry_newsletter }}</label>
            <div class="col-sm-10 radio"> {% if newsletter %}
                <input type="radio" name="newsletter" value="1" checked="checked" id="newsletter_yes"/><label class="radio-inline chosen" for="newsletter_yes">  {{ text_yes }}</label><br>
                <input type="radio" name="newsletter" value="0" id="newsletter_no"/><label class="radio-inline" for="newsletter_no"> {{ text_no }}</label>
              {% else %}
                <input type="radio" name="newsletter" value="1" id="newsletter_yes"/><label class="radio-inline" for="newsletter_yes">{{ text_yes }}</label><br>
                <input type="radio" name="newsletter" value="0" checked="checked" id="newsletter_no"/>  <label class="radio-inline chosen" for="newsletter_no">{{ text_no }}</label>
              {% endif %} </div>
          </div>
        </fieldset>
        <div class="buttons clearfix">
          <div class="pull-right">
            <input type="submit" value="{{ button_continue }}" class="btn btn-primary" />
          </div>
          <div class="pull-left"><a href="{{ back }}" class="btn btn-default">{{ button_back }}</a></div>
        </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
  jQuery(document).ready( function($) {

  });
  jQuery(".newsletter input[type='radio']").change(function() {
    jQuery(".newsletter .radio-inline").removeClass("chosen");
    /*if ($(this).is(':checked')) {
     $(this).parent().find('label').addClass("chosen");
     }*/
  });
  //--></script>
{{ footer }}
{#{ header }}
<div id="account-newsletter" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_newsletter }}</label>
            <div class="col-sm-10">
              {% if newsletter %}
              <label class="radio-inline">
                <input type="radio" name="newsletter" value="1" checked="checked" />
                {{ text_yes }} </label>
              <label class="radio-inline">
                <input type="radio" name="newsletter" value="0" />
                {{ text_no }}</label>
              {% else %}
              <label class="radio-inline">
                <input type="radio" name="newsletter" value="1" />
                {{ text_yes }} </label>
              <label class="radio-inline">
                <input type="radio" name="newsletter" value="0" checked="checked" />
                {{ text_no }}</label>
              {% endif %}
            </div>
          </div>
        </fieldset>
        <div class="buttons clearfix">
          <div class="pull-left"><a href="{{ back }}" class="btn btn-default">{{ button_back }}</a></div>
          <div class="pull-right">
            <input type="submit" value="{{ button_continue }}" class="btn btn-primary" />
          </div>
        </div>
      </form>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }#}