{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <hr>
          {#video#}
          <fieldset id="video">
            <legend>{{ text_video }}</legend>
            <div class="banner-item remove-item">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-video-text1">{{ entry_video_text1 }}</label>
                <div class="col-sm-10">
                  <input type="text" name="video_text1" id="input-video-text1" value="{{ video_text1 }}" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-video-text1">{{ entry_video_text2 }}</label>
                <div class="col-sm-10">
                  <input type="text" name="video_text2" id="input-video-text2" value="{{ video_text2 }}" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="video_link">{{entry_video_link}}</label>
                <div class="col-sm-10">
                    <input type="text" name="video_link" id="input-video_link" value="{{ video_link }}" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{entry_video_poster}}</label>
                <div class="col-sm-10">
                  <a href="#" id="thumb-video_poster_img"  data-toggle="image" class="img-thumbnail">
                    <img src="{{ video_poster_img_thumb }}" alt="" title=""  data-placeholder="{{ poster_placeholder }}" >
                  </a>
                  <input type="hidden" name="video_poster_img" value="{{ video_poster_img }}" id="input-video_poster_img">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{entry_video_file}}</label>
                <div class="col-sm-10">
                  <a href="#" id="thumb-video_file"  data-toggle="image" class="img-thumbnail btn-info">
                    <i class="fa fa-film fa-2x" style="background-color: #54b7d3; height: 40px;padding-top: 6px;"></i>
                  </a>
                  <span class="video-file-title">{{ video_file }}</span>
                  <input type="hidden" name="video_file" value="{{ video_file }}" id="input-video_file">
                </div>
              </div>
            </div>
          </fieldset>
          <hr>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                {% if status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
  <link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script> 
    
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
  <script type="text/javascript"><!--
$('#language a:first').tab('show');

    /*track file changes*/
    objTextBox = document.getElementById("input-video_file");
    oldValue = objTextBox.value;
    var somethingChanged = false;

    function track_change()   {
      if(objTextBox.value != oldValue) {
        oldValue = objTextBox.value;
        somethingChanged = true;
        //alert("something has  Changed ")
        $('.video-file-title').text($("#input-video_file").val());
      }
    }
    setInterval(function() { track_change()}, 100);

//--></script></div>
{{ footer }}
