<!doctype html>
<html>
<head>
  <title>Yumster</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no" />
  <link rel="icon" type="image/x-icon" href="/catalog/view/theme/yumster/assets/build/img/fav.png" />
  <link rel="icon" style="@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)" type="image/png" href="/catalog/view/theme/yumster/assets/build/img/fav@2x.png" />
  <link type="text/css" rel="stylesheet" media="screen" href="/catalog/view/theme/yumster/assets/build/css/main.min.css" />
</head>
<body class="e404">
<div class="max-width">
  <div class="error-wrapper">
    <img class="logo" src="/catalog/view/theme/yumster/assets/build/img/logo.png"/>
    <img class="e404" src="/catalog/view/theme/yumster/assets/build/img/e404.png"/>
    <p>Oops. Something went wrong...<br/> You’re not sure what — was it you?<br/> Was it the website? What do you do now?</p>
    <a href="{{ continue }}" class="btn">{{ button_continue }}</a>
  </div>
</div>
</body>
</html>
{#{ header }}
<div id="error-not-found" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <p>{{ text_error }}</p>
      <div class="buttons clearfix">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }#}
